---
- name: Run post reboot
  ansible.builtin.import_role:
    name: common_post_reboot

- name: Install DDNS packages
  community.general.opkg:
    name: luci-app-ddns
    state: present

- name: Cleanup default ddns config
  uci:
    command: absent
    key: "{{ item }}"
  loop:
    - ddns.myddns_ipv4
    - ddns.myddns_ipv6

- name: Set ddns_name fact
  ansible.builtin.set_fact:
    ddns_name: "{{ domain | replace('.', '_') }}"

- name: Adding configuration {{ ddns_name + '_v4' }}
  uci:
    command: section
    config: ddns
    type: service
    name: "{{ ddns_name + '_v4' }}"
    value:
      interface: wan
      ip_source: network
      ip_network: wan
      enabled: "{{ ddns_enabled }}"
      use_ipv6: 0
      service_name: "{{ ddns_service_name }}"
      lookup_host: "{{ domain }}"
      domain: "{{ domain }}"
      username: "{{ ddns_username }}"
      password: "{{ ddns_password }}"
      use_https: 1
      cacert: /etc/ssl/certs
      use_syslog: 2
      dns_server: 1.1.1.1
    replace: true

- name: Adding configuration {{ ddns_name + '_v6' }}
  uci:
    command: section
    config: ddns
    type: service
    name: "{{ ddns_name }}_v6"
    value:
      interface: wan
      ip_source: interface
      ip_interface: dummy1
      enabled: "{{ ddns_enabled }}"
      use_ipv6: 1
      service_name: "{{ ddns_service_name }}"
      lookup_host: "{{ domain }}"
      domain: "{{ domain }}"
      username: "{{ ddns_username }}"
      password: "{{ ddns_password }}"
      use_https: 1
      cacert: /etc/ssl/certs
      use_syslog: 2
      dns_server: 1.1.1.1
    replace: true

- name: Commit
  uci:
    command: commit
    key: ddns
  notify: Reload config
