---
# config device
#         option name 'eth0.20'
#         option type '8021q'
#         option ifname 'eth0'
#         option vid '20'
#         option ipv6 '1'
- name: Create VLAN parent interface for {{ service }}
  uci:
    command: section
    config: network
    type: device
    find-by:
      name: "{{ parent_interface }}.{{ vlan_id }}"
    value:
      type: 8021q
      ifname: "{{ parent_interface }}"
      vid: "{{ vlan_id }}"

# config device
#         option type 'macvlan'
#         option ifname 'eth0.20'
#         option mode 'bridge'
#         option name 'mac-omada'
- name: Create virtual ethernet device for Docker isolation
  uci:
    command: section
    config: network
    type: device
    find-by:
      name: "mac-{{ service }}"
    value:
      type: macvlan
      ifname: "{{ parent_interface }}.{{ vlan_id }}"
      mode: bridge

# config interface 'omada'
#         option proto 'static'
#         option device 'mac-omada'
#         option ipaddr '192.168.20.1'
#         option netmask '255.255.255.0'
#         option ip6assign '64'
#         option ip6hint '20'
- name: "Create network interface {{ service }}"
  uci:
    command: section
    config: network
    type: interface
    name: "{{ service }}"
    value:
      device: mac-{{ service }}
      proto: static
      ipaddr: "{{ gateway_ipv4 }}"
      netmask: "{{ netmask }}"
      ip6hint: "{{ vlan_id }}"
      ip6assign: 64

- name: Commit network changes
  uci:
    command: commit
    config: network
  notify: Reload config

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Restart network to apply Docker network changes
  ansible.builtin.service:
    name: network
    state: restarted
