config avahi-daemon 'daemon'
        option enabled '1'
        option use_ipv6 'yes'
        option allow_interfaces 'lan,mgnt,iot'
        option deny_interfaces 'wan,guest'
        option publish_hinfo 'yes'
        option publish_workstation 'yes'
        option publish_domain 'yes'
        option wide_area 'no'
        option publish_aaaa_on_ipv4 'yes'
        option publish_a_on_ipv6 'yes'
        option publish_dns_sd 'yes'
        option publish_addresses 'yes'
        option publish_ptr 'yes'
        option publish_srv 'yes'
        option publish_txt 'yes'
