
config ddns 'global'
        option ddns_dateformat '%F %R'
        option ddns_loglines '250'
        option upd_privateip '0'

config service '{{ ddns_service_name | replace(".", "_") }}_v4'
        option interface 'wan'
        option ip_source 'network'
        option ip_network 'wan'
        option enabled '1'
        option use_ipv6 '0'
        option service_name '{{ ddns_service_name }}'
        option lookup_host '{{ ddns_domain }}'
        option domain '{{ ddns_domain }}'
        option username '{{ ddns_username }}'
        option password '{{ ddns_password }}'
        option use_https '1'
        option cacert '/etc/ssl/certs'
        option use_syslog '2'
        option dns_server '1.1.1.1'

config service '{{ ddns_service_name | replace(".", "_") }}_v6'
        option interface 'wan'
        option ip_source 'interface'
        option ip_interface 'wan6'
        option enabled '1'
        option use_ipv6 '1'
        option service_name '{{ ddns_service_name }}'
        option lookup_host '{{ ddns_domain }}'
        option domain '{{ ddns_domain }}'
        option username '{{ ddns_username }}'
        option password '{{ ddns_password }}'
        option use_https '1'
        option cacert '/etc/ssl/certs'
        option use_syslog '2'
        option dns_server '1.1.1.1'