# When alt_config_file is set, the init script symlinks to it and ignores ALL other UCI options.
# All Docker daemon configuration is in /etc/docker/daemon.json
config globals 'globals'
	option alt_config_file '/etc/docker/daemon.json'
