
config defaults
        option syn_flood '1'
        option input 'REJECT'
        option output 'ACCEPT'
        option forward 'ACCEPT'

config rule
        option name 'Allow-DHCP-Renew'
        option src 'wan'
        option proto 'udp'
        option dest_port '68'
        option target 'ACCEPT'
        option family 'ipv4'

config rule
        option name 'Allow-Ping'
        option src 'wan'
        option proto 'icmp'
        option icmp_type 'echo-request'
        option family 'ipv4'
        option target 'ACCEPT'

config rule
        option name 'Allow-IGMP'
        option src 'wan'
        option proto 'igmp'
        option family 'ipv4'
        option target 'ACCEPT'

config rule
        option name 'Allow-DHCPv6'
        option src 'wan'
        option proto 'udp'
        option dest_port '546'
        option family 'ipv6'
        option target 'ACCEPT'

config rule
        option name 'Allow-MLD'
        option src 'wan'
        option proto 'icmp'
        option src_ip 'fe80::/10'
        list icmp_type '130/0'
        list icmp_type '131/0'
        list icmp_type '132/0'
        list icmp_type '143/0'
        option family 'ipv6'
        option target 'ACCEPT'

config rule
        option name 'Allow-ICMPv6-Input'
        option src 'wan'
        option proto 'icmp'
        list icmp_type 'echo-request'
        list icmp_type 'echo-reply'
        list icmp_type 'destination-unreachable'
        list icmp_type 'packet-too-big'
        list icmp_type 'time-exceeded'
        list icmp_type 'bad-header'
        list icmp_type 'unknown-header-type'
        list icmp_type 'router-solicitation'
        list icmp_type 'neighbour-solicitation'
        list icmp_type 'router-advertisement'
        list icmp_type 'neighbour-advertisement'
        option limit '1000/sec'
        option family 'ipv6'
        option target 'ACCEPT'

config rule
        option name 'Allow-ICMPv6-Forward'
        option src 'wan'
        option dest '*'
        option proto 'icmp'
        list icmp_type 'echo-request'
        list icmp_type 'echo-reply'
        list icmp_type 'destination-unreachable'
        list icmp_type 'packet-too-big'
        list icmp_type 'time-exceeded'
        list icmp_type 'bad-header'
        list icmp_type 'unknown-header-type'
        option limit '1000/sec'
        option family 'ipv6'
        option target 'ACCEPT'

config zone
        option name 'lan'
        list network 'lan'
        option input 'REJECT'
        option output 'ACCEPT'
        option forward 'REJECT'

config zone
        option name 'wan'
        list network 'wan'
        list network 'wan6'
        option input 'REJECT'
        option output 'ACCEPT'
        option forward 'REJECT'
        option masq '1'
        option masq6 '1'
        option mtu_fix '1'
        option log '1'
        option log_limit '10/minute'

config zone
        option name 'mgnt'
        list network 'mgnt'
        list network 'wg0'
        option input 'ACCEPT'
        option output 'ACCEPT'
        option forward 'ACCEPT'

config zone
        option name 'guest'
        list network 'guest'
        option input 'REJECT'
        option output 'ACCEPT'
        option forward 'REJECT'

config zone
        option name 'iot'
        list network 'iot'
        option input 'REJECT'
        option output 'ACCEPT'
        option forward 'REJECT'

config zone
        option name 'traefik_int'
        list network 'traefik_int'
        option input 'REJECT'
        option output 'ACCEPT'
        option forward 'REJECT'

config zone
        option name 'traefik_ext'
        list network 'traefik_ext'
        option input 'REJECT'
        option output 'ACCEPT'
        option forward 'REJECT'

config forwarding
        option src 'mgnt'
        option dest 'wan'

config forwarding
        option src 'mgnt'
        option dest 'iot'

config forwarding
        option src 'mgnt'
        option dest 'traefik_int'

config forwarding
        option src 'mgnt'
        option dest 'traefik_ext'

config forwarding
        option src 'traefik_int'
        option dest 'wan'

config forwarding
        option src 'wan'
        option dest 'traefik_ext'

config forwarding
        option src 'lan'
        option dest 'wan'

config forwarding
        option src 'lan'
        option dest 'iot'

config forwarding
        option src 'guest'
        option dest 'wan'

config forwarding
        option src 'iot'
        option dest 'wan'

{% for zone in ['lan', 'guest', 'iot'] %}
config rule
        option name 'Allow-{{ zone | capitalize }}-DNS'
        option src '{{ zone }}'
        option proto 'tcp udp'
        option dest_port '53'
        option target 'ACCEPT'

config rule
        option name 'Allow-{{ zone | capitalize }}-DHCP'
        option src '{{ zone }}'
        option src_port '68'
        option proto 'udp'
        option dest_port '67'
        option family 'ipv4'
        option target 'ACCEPT'

config rule
        option name 'Allow-{{ zone | capitalize }}-DHCPv6'
        option src '{{ zone }}'
        option src_port '546'
        option proto 'udp'
        option dest_port '547'
        option family 'ipv6'
        option target 'ACCEPT'

config rule
        option name 'Allow-{{ zone | capitalize }}-ICMP'
        option src '{{ zone }}'
        option proto 'icmp'
        option family 'ipv4'
        option target 'ACCEPT'

config rule
        option name 'Allow-{{ zone | capitalize }}-ICMPv6'
        option src '{{ zone }}'
        option proto 'icmpv6'
        option family 'ipv6'
        option target 'ACCEPT'

config rule
        option name 'Allow-{{ zone | capitalize }}-NTP'
        option src '{{ zone }}'
        option proto 'udp'
        option dest_port '123'
        option target 'ACCEPT'

{% endfor %}
config rule
        option name 'Allow-TRAEFIK_INT-DNS'
        option src 'traefik_int'
        option proto 'tcp udp'
        option dest_port '53'
        option target 'ACCEPT'

{% for zone in ['mgnt', 'lan', 'iot'] %}
config redirect
        option name 'DNS_intercept_{{ zone }}'
        option src '{{ zone }}'
        option src_dport '53'
        option proto 'tcp udp'
        option target 'DNAT'
        option dest '{{ zone }}'
        option dest_port '53'
        option family 'any'

{% endfor %}

# HTTP/HTTPS redirect from WAN to Traefik (traefik_ext)
config redirect
        option name 'HTTP_to_Traefik'
        option src 'wan'
        option src_dport '80'
        option proto 'tcp'
        option target 'DNAT'
        option dest 'traefik_ext'
        option dest_ip '192.168.8.10'
        option dest_port '80'
        option family 'ipv4'

config redirect
        option name 'HTTPS_to_Traefik'
        option src 'wan'
        option src_dport '443'
        option proto 'tcp'
        option target 'DNAT'
        option dest 'traefik_ext'
        option dest_ip '192.168.8.10'
        option dest_port '443'
        option family 'ipv4'

config redirect
        option name 'HTTP_to_Traefik_v6'
        option src 'wan'
        option src_dport '80'
        option proto 'tcp'
        option target 'DNAT'
        option dest 'traefik_ext'
        option dest_ip '{{ ula_prefix }}:8::10'
        option dest_port '80'
        option family 'ipv6'

config redirect
        option name 'HTTPS_to_Traefik_v6'
        option src 'wan'
        option src_dport '443'
        option proto 'tcp'
        option target 'DNAT'
        option dest 'traefik_ext'
        option dest_ip '{{ ula_prefix }}:8::10'
        option dest_port '443'
        option family 'ipv6'
