
config interface 'loopback'
        option device 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option ula_prefix '{{ ula_prefix }}::/48'
        option packet_steering '1'

config device
        option name 'eth3'
        option macaddr '{{ bbox_mac }}'

config device
        option name 'eth1.99'
        option type '8021q'
        option ifname 'eth1'
        option vid '99'

config device
        option name 'eth1.{{ guest_subnet_id }}'
        option type '8021q'
        option ifname 'eth1'
        option vid '{{ guest_subnet_id }}'

config device
        option name 'eth1.{{ iot_subnet_id }}'
        option type '8021q'
        option ifname 'eth1'
        option vid '{{ iot_subnet_id }}'

config device
        option name 'eth2.{{ lan_subnet_id }}'
        option type '8021q'
        option ifname 'eth2'
        option vid '{{ lan_subnet_id }}'

config device
        option name 'eth2.{{ guest_subnet_id }}'
        option type '8021q'
        option ifname 'eth2'
        option vid '{{ guest_subnet_id }}'

config device
        option name 'eth2.{{ iot_subnet_id }}'
        option type '8021q'
        option ifname 'eth2'
        option vid '{{ iot_subnet_id }}'

config device
        option name 'eth3.100'
        option type '8021q'
        option ifname 'eth3'
        option vid '100'
        option macaddr '{{ bbox_mac }}'

config device
        option name 'br-lan'
        option type 'bridge'
        list ports 'eth0'
        list ports 'eth1.{{ lan_subnet_id }}'
        list ports 'eth2'

config device
        option name 'br-guest'
        option type 'bridge'
        list ports 'eth1.{{ guest_subnet_id }}'
        list ports 'eth2.{{ guest_subnet_id }}'

config device
        option name 'br-iot'
        option type 'bridge'
        list ports 'eth1.{{ iot_subnet_id }}'
        list ports 'eth2.{{ iot_subnet_id }}'

config interface 'wan'
        option device '{{ wan_interface }}'
        option proto 'dhcp'
        option vendorid 'BYGTELIAD'
        option norelease '1'
        option ipv6 '0'
        option hostname '*'
        option peerdns '0'

config interface 'wan6'
        option device '{{ wan_interface }}'
        option proto 'dhcpv6'
        option norelease '1'
        option reqprefix 'auto'
        option reqaddress 'none'
        option ip6hint '0'
        option ip6assign '64'
        option peerdns '0'
        option sourcefilter '0'

config interface 'wg0'
        option proto 'wireguard'
        option private_key '{{ vpn_private_key }}'
        list addresses '10.0.0.2/24'

config wireguard_wg0
        option public_key '{{ vpn_peer_public_key }}'
        option preshared_key '{{ vpn_preshared_key }}'
        option endpoint_host '{{ vpn_endpoint_host }}'
        option endpoint_port '51820'
        option route_allowed_ips '1'
        option persistent_keepalive '25'
        list allowed_ips '10.0.0.1/32'
        list allowed_ips '192.168.1.0/24'

config interface 'lan'
        option device 'br-lan'
        option proto 'static'
        option ipaddr '192.168.{{ lan_subnet_id }}.1'
        option netmask '255.255.255.0'
        option ip6assign '64'
        option ip6hint '{{ lan_subnet_id }}'

config interface 'guest'
        option device 'br-guest'
        option proto 'static'
        option ipaddr '192.168.{{ guest_subnet_id }}.1'
        option netmask '255.255.255.0'
        option ip6assign '64'
        option ip6hint '{{ guest_subnet_id }}'

config interface 'iot'
        option device 'br-iot'
        option proto 'static'
        option ipaddr '192.168.{{ iot_subnet_id }}.1'
        option netmask '255.255.255.0'
        option ip6assign '64'
        option ip6hint '{{ iot_subnet_id }}'

config device
        option type 'bridge'
        option name 'br-traefik'
        list ports 'dummy0'

config interface 'traefik'
        option device 'br-traefik'
        option proto 'static'
        option ipaddr '192.168.{{ docker_subnet_id }}.1'
        option netmask '255.255.255.0'
        option ip6assign '64'
        option ip6hint '{{ docker_subnet_id }}'
