config k3s 'main'
        list server_args '--data-dir /opt/k3s'
        list server_args '--disable servicelb'
        list server_args '--token {{ k3s_token }}'
        list server_args '--flannel-iface dummy0'
        list server_args '--bind-address 192.168.{{ k3s_admin_vlan_id }}.1'
        list server_args '--node-ip 192.168.{{ k3s_admin_vlan_id }}.1'
        list server_args '--tls-san api.{{ domain }}'
        list server_args '--flannel-conf /etc/rancher/k3s/flannel-config.json'
