config k3s 'main'
        option data_dir '/var/lib/rancher/k3s'
        list server_args '--disable servicelb'
        list server_args '--flannel-iface dummy0'
        list server_args '--bind-address 192.168.{{ k3s_admin_vlan_id }}.1'
        list server_args '--node-ip 192.168.{{ k3s_admin_vlan_id }}.1,{{ ula_prefix }}:{{ k3s_admin_vlan_id }}::1'
        list server_args '--cluster-cidr=10.42.0.0/16,fd00:42::/56'
        list server_args '--service-cidr=10.43.0.0/16,fd00:43::/112'
        list server_args '--flannel-ipv6-masq'
        list server_args '--flannel-conf /etc/rancher/k3s/flannel-config.json'
