apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    hostNetwork: true

    deployment:
      dnsPolicy: ClusterFirstWithHostNet
      additionalVolumes:
        - name: certs
          hostPath:
            path: {{ acme_cert | dirname }}

    service:
      enabled: false # On gère les ports manuellement (HostPort)
    
    logs:
      general:
        level: DEBUG
      access:
        enabled: true

    ports:
      # --- FLUX INTERNE (Par défaut) ---
      web: null
      traefik:
        expose: true
        port: 8080
        hostPort: 8080
        hostIP: "192.168.{{ k3s_admin_vlan_id }}.1"
        protocol: TCP
      metrics:
        expose: true
        port: 9100
        hostPort: 9100
        hostIP: "192.168.{{ k3s_admin_vlan_id }}.1"
        protocol: TCP
      websecure:
        expose: true
        port: 443
        hostPort: 443
        hostIP: "192.168.{{ k3s_admin_vlan_id }}.1"
        protocol: TCP
      
      # --- FLUX EXTERNE (Spécifique) ---
      websecext:
        expose: true
        port: 443
        hostPort: 443
        hostIP: "192.168.{{ k3s_external_vlan_id }}.1"
        protocol: TCP

    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.{{ domain }}`)
        entryPoints: 
          - websecure
        middlewares:
          - name: dashboard-redirect@file
          - name: root-to-dashboard@file
        tls: {}

    providers:
      file:
        enabled: true
        watch: true
        content: |
          http:
            middlewares:
              dashboard-redirect:
                redirectRegex:
                  regex: "^(https?://[^/]+)/dashboard$"
                  replacement: "${1}/dashboard/"
              root-to-dashboard:
                redirectRegex:
                  regex: "^(https?://[^/]+)/?$"
                  replacement: "${1}/dashboard/"
          tls:
            certificates:
              - certFile: /certs/{{ acme_cert | basename }}
                keyFile: /certs/{{ acme_key | basename }}
            stores:
              default:
                defaultCertificate:
                  certFile: /certs/{{ acme_cert | basename }}
                  keyFile: /certs/{{ acme_key | basename }}

    additionalVolumeMounts:
      - name: certs
        mountPath: /certs
        readOnly: true
