#!/bin/sh

LOGFILE="/root/uci-defaults.log"

log() {
    echo "[$(date +'%Y-%m-%d %H:%M:%S')] [90-system] $*" >> "$LOGFILE"
}

log "======================================"
log "Starting 90-system configuration"
log "======================================"


#######################################
# change root password
#######################################

log "Changing root password"
passwd root <<EOP
{{ root_password }}
{{ root_password }}
EOP
log "Root password changed successfully"

# Replace ash by bash for root
log "Changing root shell from ash to bash"
sed -i "/^root:/ s|/bin/ash|/bin/bash|" /etc/passwd
log "Root shell changed to bash"

log "Setting permissions on /root/*.sh"
chmod u=rwx,g=,o= /root/*.sh
log "Permissions set successfully"

# Secure SSH access
log "Configuring SSH access"
chmod 700 /root/.ssh
chmod 600 /root/.ssh/authorized_keys

log "90-system configuration completed successfully"
log "======================================"
exit 0
