#!/bin/sh

LOGFILE="/root/uci-defaults.log"

log() {
    echo "[$(date +'%Y-%m-%d %H:%M:%S')] [91-network] $*" >> "$LOGFILE"
}

log "======================================"
log "Starting 91-network configuration"
log "======================================"

# Network configuration for OpenWRT


#######################################
# Global settings
#######################################

log "Configuring global network settings"
uci set network.globals.packet_steering='1'
uci set network.globals.ula_prefix='{{ ula_prefix }}::/48'
log "Packet steering enabled, ULA prefix: {{ ula_prefix }}::/48"

# Detect if running in virtual environment
log "Detecting virtual environment"
grep -qEi "virtualbox|qemu" /sys/class/dmi/id/modalias 2>/dev/null
IS_VIRTUAL=$?
WAN_IFACE='eth3.100'
MGNT_SUBNET_ID='9'
if [ $IS_VIRTUAL -eq 0 ]; then
    WAN_IFACE='eth3'
    MGNT_SUBNET_ID='99'
    log "Virtual environment detected"
else
    log "Physical environment detected"
fi
log "WAN interface: $WAN_IFACE, MGNT subnet: $MGNT_SUBNET_ID"

#######################################
# Clean existing custom devices to avoid duplicates
#######################################
# Remove all devices
log "Cleaning existing network devices"
DEVICE_COUNT=0
while uci -q delete network.@device[0]; do 
    DEVICE_COUNT=$((DEVICE_COUNT + 1))
done
log "Removed $DEVICE_COUNT existing devices"


#######################################
# WAN interface device eth3
#######################################
log "Creating WAN device eth3"
ETH3_DEVICE=$(uci add network device)
uci set network.$ETH3_DEVICE.name='eth3'
uci set network.$ETH3_DEVICE.macaddr='{{ bbox_mac }}'
log "WAN device eth3 created with MAC {{ bbox_mac }}"


#######################################
# VLAN devices per NIC
#######################################
log "Creating VLAN devices"
# MGNT VLAN 99 on eth1 (AP wifi)
log "Creating VLAN 99 on eth1 (MGNT for AP wifi)"
ETH1_99_DEVICE=$(uci add network device)
uci set network.$ETH1_99_DEVICE.name='eth1.99'
uci set network.$ETH1_99_DEVICE.type='8021q'
uci set network.$ETH1_99_DEVICE.ifname='eth1'
uci set network.$ETH1_99_DEVICE.vid='99'
log "VLAN eth1.99 created"

# LAN VLAN 2 on eth1 (AP wifi)
log "Creating VLAN 2 on eth1 (LAN for AP wifi)"
ETH1_2_DEVICE=$(uci add network device)
uci set network.$ETH1_2_DEVICE.name='eth1.2'
uci set network.$ETH1_2_DEVICE.type='8021q'
uci set network.$ETH1_2_DEVICE.ifname='eth1'
uci set network.$ETH1_2_DEVICE.vid='2'
log "VLAN eth1.2 created"

# GUEST VLAN 3 on eth1 (AP wifi)
log "Creating VLAN 3 on eth1 (GUEST for AP wifi)"
ETH1_3_DEVICE=$(uci add network device)
uci set network.$ETH1_3_DEVICE.name='eth1.3'
uci set network.$ETH1_3_DEVICE.type='8021q'
uci set network.$ETH1_3_DEVICE.ifname='eth1'
uci set network.$ETH1_3_DEVICE.vid='3'
log "VLAN eth1.3 created"

# IOT VLAN 4 on eth1 (AP wifi)
log "Creating VLAN 4 on eth1 (IOT for AP wifi)"
ETH1_4_DEVICE=$(uci add network device)
uci set network.$ETH1_4_DEVICE.name='eth1.4'
uci set network.$ETH1_4_DEVICE.type='8021q'
uci set network.$ETH1_4_DEVICE.ifname='eth1'
uci set network.$ETH1_4_DEVICE.vid='4'
log "VLAN eth1.4 created"

# LAN VLAN 2 on eth2 (topton 8505)
log "Creating VLAN 2 on eth2 (LAN for topton 8505)"
ETH2_2_DEVICE=$(uci add network device)
uci set network.$ETH2_2_DEVICE.name='eth2.2'
uci set network.$ETH2_2_DEVICE.type='8021q'
uci set network.$ETH2_2_DEVICE.ifname='eth2'
uci set network.$ETH2_2_DEVICE.vid='2'
log "VLAN eth2.2 created"

# Guest VLAN 3 on eth2 (topton 8505)
log "Creating VLAN 3 on eth2 (GUEST for topton 8505)"
ETH2_3_DEVICE=$(uci add network device)
uci set network.$ETH2_3_DEVICE.name='eth2.3'
uci set network.$ETH2_3_DEVICE.type='8021q'
uci set network.$ETH2_3_DEVICE.ifname='eth2'
uci set network.$ETH2_3_DEVICE.vid='3'
log "VLAN eth2.3 created"

# IoT VLAN 4 on eth2 (topton 8505)
log "Creating VLAN 4 on eth2 (IOT for topton 8505)"
ETH2_4_DEVICE=$(uci add network device)
uci set network.$ETH2_4_DEVICE.name='eth2.4'
uci set network.$ETH2_4_DEVICE.type='8021q'
uci set network.$ETH2_4_DEVICE.ifname='eth2'
uci set network.$ETH2_4_DEVICE.vid='4'
log "VLAN eth2.4 created"

# WAN VLAN 100 on eth3 (Bouygues Telecom requirement)
log "Creating VLAN 100 on eth3 (WAN for Bouygues Telecom)"
ETH3_100_DEVICE=$(uci add network device)
uci set network.$ETH3_100_DEVICE.name='eth3.100'
uci set network.$ETH3_100_DEVICE.type='8021q'
uci set network.$ETH3_100_DEVICE.ifname='eth3'
uci set network.$ETH3_100_DEVICE.vid='100'
uci set network.$ETH3_100_DEVICE.macaddr='{{ bbox_mac }}'
log "VLAN eth3.100 created with MAC {{ bbox_mac }}"


#######################################
# Bridge devices
#######################################
log "Creating bridge devices"
# MGNT bridge
log "Creating MGNT bridge (br-mgnt)"
BR_MGNT_DEVICE=$(uci add network device)
uci set network.$BR_MGNT_DEVICE.name='br-mgnt'
uci set network.$BR_MGNT_DEVICE.type='bridge'
uci add_list network.$BR_MGNT_DEVICE.ports='eth0'
uci add_list network.$BR_MGNT_DEVICE.ports='eth1.99'
uci add_list network.$BR_MGNT_DEVICE.ports='eth2'
log "MGNT bridge created with ports: eth0, eth1.99, eth2"

# LAN bridge
log "Creating LAN bridge (br-lan)"
BR_LAN_DEVICE=$(uci add network device)
uci set network.$BR_LAN_DEVICE.name='br-lan'
uci set network.$BR_LAN_DEVICE.type='bridge'
uci add_list network.$BR_LAN_DEVICE.ports='eth1.2'
uci add_list network.$BR_LAN_DEVICE.ports='eth2.2'
log "LAN bridge created with ports: eth1.2, eth2.2"

# Guest bridge
log "Creating GUEST bridge (br-guest)"
BR_GUEST_DEVICE=$(uci add network device)
uci set network.$BR_GUEST_DEVICE.name='br-guest'
uci set network.$BR_GUEST_DEVICE.type='bridge'
uci add_list network.$BR_GUEST_DEVICE.ports='eth1.3'
uci add_list network.$BR_GUEST_DEVICE.ports='eth2.3'
log "GUEST bridge created with ports: eth1.3, eth2.3"

# IoT bridge
log "Creating IOT bridge (br-iot)"
BR_IOT_DEVICE=$(uci add network device)
uci set network.$BR_IOT_DEVICE.name='br-iot'
uci set network.$BR_IOT_DEVICE.type='bridge'
uci add_list network.$BR_IOT_DEVICE.ports='eth1.4'
uci add_list network.$BR_IOT_DEVICE.ports='eth2.4'
log "IOT bridge created with ports: eth1.4, eth2.4"

# Docker VLAN 7 on dummy0
log "Creating Docker VLAN 7 on dummy0"
DOCKER1_VLAN_DEVICE=$(uci add network device)
uci set network.$DOCKER1_VLAN_DEVICE.name='dummy0.7'
uci set network.$DOCKER1_VLAN_DEVICE.type='8021q'
uci set network.$DOCKER1_VLAN_DEVICE.ifname='dummy0'
uci set network.$DOCKER1_VLAN_DEVICE.vid='7'
log "Docker VLAN dummy0.7 created"

# Docker VLAN 8 on dummy0
log "Creating Docker VLAN 8 on dummy0"
DOCKER2_VLAN_DEVICE=$(uci add network device)
uci set network.$DOCKER2_VLAN_DEVICE.name='dummy0.8'
uci set network.$DOCKER2_VLAN_DEVICE.type='8021q'
uci set network.$DOCKER2_VLAN_DEVICE.ifname='dummy0'
uci set network.$DOCKER2_VLAN_DEVICE.vid='8'
log "Docker VLAN dummy0.8 created"

# Docker macvlan 1
log "Creating Docker macvlan mac0.7"
BR_DOCKER1_DEVICE=$(uci add network device)
uci set network.$BR_DOCKER1_DEVICE.name='mac0.7'
uci set network.$BR_DOCKER1_DEVICE.type='macvlan'
uci set network.$BR_DOCKER1_DEVICE.mode='bridge'
uci set network.$BR_DOCKER1_DEVICE.ifname='dummy0.7'
log "Docker macvlan mac0.7 created on dummy0.7"

# Docker macvlan 2
log "Creating Docker macvlan mac0.8"
BR_DOCKER2_DEVICE=$(uci add network device)
uci set network.$BR_DOCKER2_DEVICE.name='mac0.8'
uci set network.$BR_DOCKER2_DEVICE.type='macvlan'
uci set network.$BR_DOCKER2_DEVICE.mode='bridge'
uci set network.$BR_DOCKER2_DEVICE.ifname='dummy0.8'
log "Docker macvlan mac0.8 created on dummy0.8"


#######################################
# Network interfaces
#######################################
log "Configuring network interfaces"
# WAN interface
log "Configuring WAN interface on $WAN_IFACE"
uci set network.wan=interface
uci set network.wan.device="$WAN_IFACE"
uci set network.wan.proto='dhcp'
uci set network.wan.vendorid='BYGTELIAD'
uci set network.wan.norelease='1'
uci set network.wan.ipv6='0'
uci set network.wan.hostname='*'
uci set network.wan.peerdns='0'
log "WAN interface configured on $WAN_IFACE with DHCP"

# WAN6 interface
log "Configuring WAN6 interface on $WAN_IFACE"
uci set network.wan6=interface
uci set network.wan6.device="$WAN_IFACE"
uci set network.wan6.proto='dhcpv6'
uci set network.wan6.norelease='1'
uci set network.wan6.reqprefix='auto'
uci set network.wan6.reqaddress='none'
uci set network.wan6.ip6hint='0'
uci set network.wan6.ip6assign='64'
uci set network.wan6.peerdns='0'
uci set network.wan6.sourcefilter='0'
log "WAN6 interface configured on $WAN_IFACE with DHCPv6"

# MGNT interface
log "Configuring MGNT interface on br-mgnt"
uci set network.mgnt=interface
uci set network.mgnt.device='br-mgnt'
uci set network.mgnt.proto='static'
uci set network.mgnt.netmask='255.255.255.0'
uci set network.mgnt.ip6assign='64'
uci set network.mgnt.ipaddr="192.168.${MGNT_SUBNET_ID}.1"
uci set network.mgnt.ip6hint="$MGNT_SUBNET_ID"
log "MGNT interface: 192.168.$MGNT_SUBNET_ID.1/24 on br-mgnt"

# LAN interface
log "Configuring LAN interface on br-lan"
uci set network.lan=interface
uci set network.lan.device='br-lan'
uci set network.lan.proto='static'
uci set network.lan.netmask='255.255.255.0'
uci set network.lan.ip6assign='64'
uci set network.lan.ipaddr='192.168.2.1'
uci set network.lan.ip6hint='2'
log "LAN interface: 192.168.2.1/24 on br-lan"

# Guest interface
log "Configuring GUEST interface on br-guest"
uci set network.guest=interface
uci set network.guest.device='br-guest'
uci set network.guest.proto='static'
uci set network.guest.ipaddr='192.168.3.1'
uci set network.guest.netmask='255.255.255.0'
uci set network.guest.ip6assign='64'
uci set network.guest.ip6hint='3'
log "GUEST interface: 192.168.3.1/24 on br-guest"

# IoT interface
log "Configuring IOT interface on br-iot"
uci set network.iot=interface
uci set network.iot.device='br-iot'
uci set network.iot.proto='static'
uci set network.iot.ipaddr='192.168.4.1'
uci set network.iot.netmask='255.255.255.0'
uci set network.iot.ip6assign='64'
uci set network.iot.ip6hint='4'
log "IOT interface: 192.168.4.1/24 on br-iot"

# Traefik-int interface
log "Configuring Traefik-int interface on mac0.7"
uci set network.traefik_int=interface
uci set network.traefik_int.device='mac0.7'
uci set network.traefik_int.proto='static'
uci set network.traefik_int.ipaddr='192.168.7.1'
uci set network.traefik_int.netmask='255.255.255.0'
uci set network.traefik_int.ip6assign='64'
uci set network.traefik_int.ip6hint='7'
log "Traefik-int interface: 192.168.7.1/24 on mac0.7"

# Traefik-ext interface
log "Configuring Traefik-ext interface on mac0.8"
uci set network.traefik_ext=interface
uci set network.traefik_ext.device='mac0.8'
uci set network.traefik_ext.proto='static'
uci set network.traefik_ext.ipaddr='192.168.8.1'
uci set network.traefik_ext.netmask='255.255.255.0'
uci set network.traefik_ext.ip6assign='64'
uci set network.traefik_ext.ip6hint='8'
log "Traefik-ext interface: 192.168.8.1/24 on mac0.8"


#######################################
# WireGuard VPN
#######################################
log "Configuring WireGuard VPN interface"
uci set network.wg0=interface
uci set network.wg0.proto='wireguard'
uci set network.wg0.private_key='{{ vpn_private_key }}'
uci add_list network.wg0.addresses='10.0.0.2/24'
log "WireGuard interface wg0 configured with address 10.0.0.2/24"

# Configuration du Peer (Serveur distant)
log "Configuring WireGuard peer"
uci add network wireguard_wg0
uci set network.@wireguard_wg0[-1].public_key='{{  vpn_peer_public_key }}'
uci set network.@wireguard_wg0[-1].preshared_key='{{ vpn_preshared_key }}'
uci set network.@wireguard_wg0[-1].endpoint_host='{{ vpn_endpoint_host }}'
uci set network.@wireguard_wg0[-1].endpoint_port='51820'
uci set network.@wireguard_wg0[-1].route_allowed_ips='1'
uci set network.@wireguard_wg0[-1].persistent_keepalive='25'
uci add_list network.@wireguard_wg0[-1].allowed_ips='10.0.0.1/24'      # Tunnel peer endpoint
uci add_list network.@wireguard_wg0[-1].allowed_ips='192.168.1.0/24'   # Remote LAN
log "WireGuard peer configured: {{ vpn_endpoint_host }}:51820"

log "Committing network configuration"
uci commit network
reload_config
log "91-network configuration completed successfully, config applied"
log "======================================"
exit 0
