#!/bin/sh

# Detect if running in virtual environment
grep -qEi "virtualbox|qemu" /sys/class/dmi/id/modalias 2>/dev/null
IS_VIRTUAL=$?

ADMIN_SUBNET_ID='1'
GUEST_SUBNET_ID='2'
IOT_SUBNET_ID='3'
if [ $IS_VIRTUAL -eq 0 ]; then
    ADMIN_SUBNET_ID='91'
    GUEST_SUBNET_ID='92'
    IOT_SUBNET_ID='93'
fi

#######################################
# DNS configuration
# https://thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html
# https://openwrt.org/docs/guide-user/base-system/dhcp#all_options
#######################################
uci delete dhcp.@dnsmasq[0].server || true
uci add_list dhcp.@dnsmasq[0].server='1.1.1.1'

uci delete dhcp.@dnsmasq[0].notinterface || true
uci add_list dhcp.@dnsmasq[0].notinterface='wan'
uci add_list dhcp.@dnsmasq[0].notinterface='wan6'

#######################################
# Add DHCP configuration
# https://openwrt.org/docs/guide-user/base-system/dhcp#dhcp_pools
#######################################

for net in "lan:$ADMIN_SUBNET_ID" "guest:$GUEST_SUBNET_ID" "iot:$IOT_SUBNET_ID"; do
    section="${net%%:*}"
    subnet="${net##*:}"

    uci set dhcp."$section"=dhcp
    uci set dhcp."$section".interface="$section"
    uci set dhcp."$section".start=100
    uci set dhcp."$section".limit=150
    uci set dhcp."$section".leasetime=12h
    uci set dhcp."$section".dhcpv4=server
    uci set dhcp."$section".dhcpv6=server
    uci set dhcp."$section".ra=server
    uci set dhcp."$section".dns_service=1
    uci set dhcp."$section".force=1
    uci set dhcp."$section".ra_default=1

    uci del dhcp."$section".ra_flags || true
    uci add_list dhcp."$section".ra_flags=managed-config
    uci add_list dhcp."$section".ra_flags=other-config
    uci add_list dhcp."$section".ra_flags=home-agent

    uci del dhcp."$section".dhcp_option || true
    uci add_list dhcp."$section".dhcp_option="6,192.168.$subnet.1"
    
    # Option 138 for Omada Controller discovery (only on LAN)
    [ "$section" = "lan" ] && uci add_list dhcp."$section".dhcp_option="138,192.168.$subnet.1"
done


#######################################
# Static DHCP leases
#######################################

# Static lease for EAP
uci set dhcp.eap=host
uci set dhcp.eap.name=eap
uci set dhcp.eap.mac=20:36:26:D2:65:30
uci set dhcp.eap.ip=192.168.$ADMIN_SUBNET_ID.90
uci set dhcp.eap.hostid=90
uci set dhcp.eap.dns=1

# Static lease for Shelly switch VR
uci set dhcp.shellyvr=host
uci set dhcp.shellyvr.name=shellyvr
uci set dhcp.shellyvr.mac=98:CD:AC:2C:FB:D0
uci set dhcp.shellyvr.ip=192.168.$IOT_SUBNET_ID.10
uci set dhcp.shellyvr.dns=1

# Static lease for Shelly plug 1
uci set dhcp.shellyplug1=host
uci set dhcp.shellyplug1.name=shellyplug1
uci set dhcp.shellyplug1.mac=C4:5B:BE:D6:BD:A1
uci set dhcp.shellyplug1.ip=192.168.$IOT_SUBNET_ID.11
uci set dhcp.shellyplug1.dns=1

# Static lease for Shelly plug 2
uci set dhcp.shellyplug2=host
uci set dhcp.shellyplug2.name=shellyplug2
uci set dhcp.shellyplug2.mac=E8:68:E7:F1:8D:59
uci set dhcp.shellyplug2.ip=192.168.$IOT_SUBNET_ID.12
uci set dhcp.shellyplug2.dns=1

# Static lease for Roborock vacuum
uci set dhcp.roborock=host
uci set dhcp.roborock.name=roborock
uci set dhcp.roborock.mac=B0:4A:39:2A:19:F2
uci set dhcp.roborock.ip=192.168.$IOT_SUBNET_ID.13
uci set dhcp.roborock.dns=1

# Static lease for printer
uci set dhcp.printer=host
uci set dhcp.printer.name=printer
uci set dhcp.printer.mac=40:23:43:D9:F3:A4
uci set dhcp.printer.ip=192.168.$IOT_SUBNET_ID.14
uci set dhcp.printer.dns=1

uci commit dhcp
exit 0
