#!/bin/sh

SUBNET="1"
grep -qEi "virtualbox|qemu" /sys/class/dmi/id/modalias && SUBNET="91"
LAN_IPV4="192.168.$SUBNET.1"
LAN_IPV6="{{ ula_prefix }}:$SUBNET::1"

#######################################
# change root password
#######################################

passwd root <<EOP
{{ root_password }}
{{ root_password }}
EOP

# Replace ash by bash for root
sed -i "/^root:/ s|/bin/ash|/bin/bash|" /etc/passwd

chmod u=rwx,g=,o= /root/*.sh

uci set system.@system[0].timezone='CET-1CEST,M3.5.0,M10.5.0/3'
uci set system.@system[0].zonename='Europe/Paris'
uci set system.@system[0].log_size='2048'
uci set system.ntp.enable_server='1'

# Secure SSH access
mkdir -p /root/.ssh
chmod 700 /root/.ssh
echo {{ ssh_key }} >> /root/.ssh/authorized_keys
chmod 600 /root/.ssh/authorized_keys
# On commente les ListenAddress existants dans le fichier principal pour éviter les doublons
sed -i 's/^ListenAddress/#ListenAddress/' /etc/ssh/sshd_config
echo "ListenAddress $LAN_IPV4" > /etc/ssh/sshd_config.d/openwrt.conf
echo "ListenAddress $LAN_IPV6" >> /etc/ssh/sshd_config.d/openwrt.conf
service sshd restart

uci set luci_statistics.collectd_sensors.enable='1'

# Configure uHTTPd to listen only on LAN interface
uci del uhttpd.main.listen_http || true
uci del uhttpd.main.listen_https || true
uci add_list uhttpd.main.listen_http="$LAN_IPV4:80"
uci add_list uhttpd.main.listen_http="[$LAN_IPV6]:80"
uci add_list uhttpd.main.listen_https="$LAN_IPV4:443"
uci add_list uhttpd.main.listen_https="[$LAN_IPV6]:443"

echo "options dummy numdummies=2" > /etc/modules.conf

uci commit
exit 0
