#!/bin/sh

if [ -L /var ]; then
    rm /var
    mkdir /var
    mkdir -p /var/lib
    mkdir -p /var/log
    mkdir -p /var/run
    mkdir -p /var/lock
    mkdir -p /var/tmp
    mkdir -p /var/spool
    
    # Link volatile directories to /tmp
    # Note: In standard OpenWrt, /var is a link to /tmp.
    # /tmp is a tmpfs.
    # /tmp/run, /tmp/log, /tmp/lock are created by preinit.
    
    # If we make /var persistent, we want /var/lib to be persistent (on rootfs).
    # We also want /var/log to be persistent (to avoid broken symlinks if /tmp/log is missing).
    # But we want /var/run, /var/lock to remain volatile (in /tmp).
    
    rm -rf /var/run /var/lock /var/tmp
    ln -s /tmp/lock /var/lock
    ln -s /tmp/run /var/run
    ln -s /tmp/tmp /var/tmp
fi

exit 0
