---
# https://openwrt.org/docs/guide-user/services/dns/adguard-home
# https://github.com/AdguardTeam/AdGuardHome/wiki/Configuration
- name: Run post reboot
  ansible.builtin.import_role:
    name: common_post_reboot

- name: Install AdGuard Home package
  community.general.opkg:
    name: adguardhome
    state: present

- name: Configure dnsmasq as local DNS forwarder only
  uci:
    command: section
    config: dhcp
    type: dnsmasq
    find-by:
      localservice: 1
    value:
      domain: "{{ domain }}"
      local: "/{{ domain }}/"
      noresolv: 1
      cachesize: 0
      expandhosts: 1
      port: 54
      server: []

- name: Add domain in dhcp
  uci:
    command: section
    config: dhcp
    type: dhcp
    find-by:
      interface: "{{ item }}"
    value:
      domain:
        - "{{ domain }}"
  loop:
    - lan
    - guest

- name: Commit
  uci:
    command: commit
    key: dhcp
  notify:
    - Restart dnsmasq

- name: Template adguardhome.yaml.j2 to /etc/adguardhome.yaml
  ansible.builtin.template:
    src: templates/adguardhome.yaml.j2
    dest: /etc/adguardhome.yaml
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Restart AdGuardHome

- name: Ensure AdGuard Home is enabled and started
  ansible.builtin.service:
    name: adguardhome
    state: started
    enabled: true
