---
# Add kernel command line arguments to /boot/grub/grub.cfg
# This is useful for adding parameters like pcie_aspm, intel_idle, etc.
- name: Install intel-microcode package
  community.general.opkg:
    name: intel-microcode
    state: present

- name: Get first kernel argument to use as marker
  ansible.builtin.set_fact:
    first_kernel_arg: "{{ kernel_extra_cmdline.split()[0] }}"

- name: Add kernel command line arguments to GRUB config
  ansible.builtin.replace:
    path: /boot/grub/grub.cfg
    regexp: '^(\s*linux\s+/boot/vmlinuz\s+(?!.*{{ first_kernel_arg }}).*?)(\s*)$'
    replace: '\1 {{ kernel_extra_cmdline }}\2'
  register: grub_update_result
  notify: Reboot

- name: Display kernel command line arguments status
  ansible.builtin.debug:
    msg: >-
      {{ 'Kernel arguments added to all menu entries: ' + kernel_extra_cmdline
         if grub_update_result.changed
         else 'Kernel arguments already present' }}
