services:
  {{ service }}:
    container_name: {{ service }}
    image: "adguard/adguardhome:{{ image_version }}"
    restart: unless-stopped
    volumes:
      - "{{ docker_service_volumes_dir }}/work:/opt/adguardhome/work"
      - "{{ docker_service_volumes_dir }}/conf:/opt/adguardhome/conf"
    networks:
      net:
        ipv4_address: "{{ container_ipv4 }}"
        ipv6_address: "{{ container_ipv6 }}"

networks:
  net:
    enable_ipv6: true
    driver: ipvlan
    driver_opts:
      ipvlan_mode: l2
      parent: "{{ docker_interface }}"
    ipam:
      config:
        - subnet: "{{ network_subnet_ipv4 }}"
          gateway: "{{ gateway_ipv4 }}"
        - subnet: "{{ network_subnet_ipv6 }}"
          gateway: "{{ gateway_ipv6 }}"
