
config globals 'globals'
	option packet_steering '1'

config device
	option name 'eth1.2'
	option type '8021q'
	option ifname 'eth1'
	option vid '2'

config device
	option name 'eth2.2'
	option type '8021q'
	option ifname 'eth2'
	option vid '2'

config device
	option name 'br-lan'
	option type 'bridge'
	list ports 'eth0'
	list ports 'eth1'
	list ports 'eth2'

config device
	option name 'br-guest'
	option type 'bridge'
	list ports 'eth1.2'
	list ports 'eth2.2'

config device
	option name 'eth3'
	option macaddr '{{ bbox_mac }}'
{% if inventory_hostname is not equalto 'virtualbox' %}

config device
	option name 'eth3.100'
	option type '8021q'
	option ifname 'eth3'
	option vid '100'
	option macaddr '{{ bbox_mac }}'
{% endif %}

config device
	option type 'bridge'
	option name 'docker0'
	option type 'macvlan'

config interface 'docker'
	option device 'docker0'
	option proto 'none'
	option auto '0'

config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config interface 'lan'
	option device 'br-lan'
	option proto 'static'
	option ipaddr '{{ ansible_host }}'
	option netmask '255.255.255.0'
	option ip6assign '64'
	option ip6hint '{{  ansible_host.split(".")[2] }}'
	option ip6ifaceid '::1'

config interface 'guest'
	option device 'br-guest'
	option proto 'static'
	option ipaddr '192.168.2.1'
	option netmask '255.255.255.0'
	option ip6assign '64'
	option ip6hint '2'
	option ip6ifaceid '::1'

config interface 'wan'
	option device 'eth3{{ '.100' if inventory_hostname is not equalto 'virtualbox' }}'
	option proto 'dhcp'
	option vendorid 'BYGTELIAD'
	option norelease '1'
	option hostname '*'
	option peerdns '0'
	list dns '1.1.1.1'
	list dns '1.0.0.1'

config interface 'wan6'
	option device 'eth3{{ '.100' if inventory_hostname is not equalto 'virtualbox' }}'
	option proto 'dhcpv6'
	option norelease '1'
	option reqprefix '60'
	option reqaddress 'none'
	option ip6hint '0'
	option ip6assign '64'
	option ip6ifaceid '::1'
	option peerdns '0'
	list dns '2606:4700:4700::1111'
	list dns '2606:4700:4700::1001'
