#!/bin/sh

# https://openwrt.org/docs/guide-user/storage/usb-drives#automount_the_partition
# data partition is found by its label "data"
# To set a partition label:  tune2fs -L "data" /dev/nvme0n1p1

PART_UUID=`lsblk -p -f -J | jsonfilter -e '$.blockdevices[*].children[@.label="data"].uuid'`

block detect | uci import fstab
uci set fstab.@global[0].check_fs='1'

. /lib/functions.sh
config_load fstab

find_and_update_mount() {
  local name="$1"
  local uuid
  config_get uuid "$name" uuid
  if [ "$uuid" = "$PART_UUID" ]; then
    uci set fstab.$name.target='{{ mount_point }}'
    uci set fstab.$name.enabled='1'
  fi
}
config_foreach find_and_update_mount mount

uci commit fstab
