#!/bin/sh

# https://openwrt.org/docs/guide-user/storage/usb-drives#automount_the_partition
# data partition is found by its label "data"
# To set a partition label:  tune2fs -L "data" /dev/nvme0n1p1

PART_UUID=`lsblk -p -f -J | jsonfilter -e '$.blockdevices[*].children[@.label="data"].uuid'`

# Remove any previously imported mount entries so we start fresh
while uci get "fstab.@mount[0]" >/dev/null 2>&1; do
  uci delete "fstab.@mount[0]"
done

uci add fstab mount
uci set fstab.@mount[-1].target='{{ mount_point }}'
uci set fstab.@mount[-1].uuid="$PART_UUID"
uci set fstab.@mount[-1].enabled='1'
uci commit fstab
