#!/bin/sh

# Network configuration for OpenWRT


#######################################
# Global settings
#######################################
uci set network.globals.packet_steering='1'
uci set network.globals.ula_prefix='fdc0:ffee:babe::/48'


#######################################
# Add eth1 and eth2 to br-lan ports
#######################################
uci add_list network.@device[0].ports='eth1'
uci add_list network.@device[0].ports='eth2'


#######################################
# WAN interface device eth3
#######################################
# Skip for VirtualBox
grep -qi "virtualbox" /sys/class/dmi/id/product_name || {
    ETH3_DEVICE=$(uci add network device)
    uci set network.$ETH3_DEVICE.name='eth3'
    uci set network.$ETH3_DEVICE.macaddr='{{ bbox_mac }}'

    ETH3_100_DEVICE=$(uci add network device)
    uci set network.$ETH3_100_DEVICE.name='eth3.100'
    uci set network.$ETH3_100_DEVICE.type='8021q'
    uci set network.$ETH3_100_DEVICE.ifname='eth3'
    uci set network.$ETH3_100_DEVICE.vid='100'
    uci set network.$ETH3_100_DEVICE.macaddr='{{ bbox_mac }}'
}


#######################################
# VLAN devices
#######################################
# Guest VLAN 2 on eth1
ETH1_2_DEVICE=$(uci add network device)
uci set network.$ETH1_2_DEVICE.name='eth1.2'
uci set network.$ETH1_2_DEVICE.type='8021q'
uci set network.$ETH1_2_DEVICE.ifname='eth1'
uci set network.$ETH1_2_DEVICE.vid='2'

# Guest VLAN 2 on eth2
ETH2_2_DEVICE=$(uci add network device)
uci set network.$ETH2_2_DEVICE.name='eth2.2'
uci set network.$ETH2_2_DEVICE.type='8021q'
uci set network.$ETH2_2_DEVICE.ifname='eth2'
uci set network.$ETH2_2_DEVICE.vid='2'

# IoT VLAN 3 on eth1
ETH1_3_DEVICE=$(uci add network device)
uci set network.$ETH1_3_DEVICE.name='eth1.3'
uci set network.$ETH1_3_DEVICE.type='8021q'
uci set network.$ETH1_3_DEVICE.ifname='eth1'
uci set network.$ETH1_3_DEVICE.vid='3'

# IoT VLAN 3 on eth2
ETH2_3_DEVICE=$(uci add network device)
uci set network.$ETH2_3_DEVICE.name='eth2.3'
uci set network.$ETH2_3_DEVICE.type='8021q'
uci set network.$ETH2_3_DEVICE.ifname='eth2'
uci set network.$ETH2_3_DEVICE.vid='3'


#######################################
# Bridge devices
#######################################
# Guest bridge
BR_GUEST_DEVICE=$(uci add network device)
uci set network.$BR_GUEST_DEVICE.name='br-guest'
uci set network.$BR_GUEST_DEVICE.type='bridge'
uci del network.$BR_GUEST_DEVICE.ports
uci add_list network.$BR_GUEST_DEVICE.ports='eth1.2'
uci add_list network.$BR_GUEST_DEVICE.ports='eth2.2'

# IoT bridge
BR_IOT_DEVICE=$(uci add network device)
uci set network.$BR_IOT_DEVICE.name='br-iot'
uci set network.$BR_IOT_DEVICE.type='bridge'
uci del network.$BR_IOT_DEVICE.ports
uci add_list network.$BR_IOT_DEVICE.ports='eth1.3'
uci add_list network.$BR_IOT_DEVICE.ports='eth2.3'


#######################################
# Network interfaces
#######################################

# WAN interface
grep -qi "virtualbox" /sys/class/dmi/id/product_name && \
    uci set network.wan.device='eth3' || \
    uci set network.wan.device='eth3.100'
uci set network.wan.proto='dhcp'
uci set network.wan.vendorid='BYGTELIAD'
uci set network.wan.norelease='1'
uci set network.wan.hostname='*'
uci set network.wan.peerdns='0'
uci del network.wan.dns
uci add_list network.wan.dns='1.1.1.1'
uci add_list network.wan.dns='1.0.0.1'

# WAN6 interface
grep -qi "virtualbox" /sys/class/dmi/id/product_name && \
    uci set network.wan6.device='eth3' || \
    uci set network.wan6.device='eth3.100'
uci set network.wan6.proto='dhcpv6'
uci set network.wan6.norelease='1'
uci set network.wan6.reqprefix='60'
uci set network.wan6.reqaddress='none'
uci set network.wan6.ip6hint='0'
uci set network.wan6.ip6assign='64'
uci set network.wan6.ip6ifaceid='::1'
uci set network.wan6.peerdns='0'
uci del network.wan6.dns
uci add_list network.wan6.dns='2606:4700:4700::1111'
uci add_list network.wan6.dns='2606:4700:4700::1001'

# LAN interface
grep -qi "virtualbox" /sys/class/dmi/id/product_name && {
    uci set network.lan.ipaddr='192.168.9.1'
    uci set network.lan.ip6hint='9'
}

# Guest interface
uci set network.guest=interface
uci set network.guest.device='br-guest'
uci set network.guest.proto='static'
uci set network.guest.ipaddr='192.168.2.1'
uci set network.guest.netmask='255.255.255.0'
uci set network.guest.ip6hint='2'

# IoT interface
uci set network.iot=interface
uci set network.iot.device='br-iot'
uci set network.iot.proto='static'
uci set network.iot.ipaddr='192.168.3.1'
uci set network.iot.netmask='255.255.255.0'
uci set network.iot.ipv6='0'
