#!/bin/sh

# Firewall configuration for OpenWRT
# This script configures firewall zones, forwarding rules, and access rules

#######################################
# Firewall zones
#######################################


# Guest zone
GUEST_ZONE=$(uci add firewall zone)
uci set firewall.$GUEST_ZONE.name='guest'
uci del firewall.$GUEST_ZONE.network
uci add_list firewall.$GUEST_ZONE.network='guest'
uci set firewall.$GUEST_ZONE.input='ACCEPT'
uci set firewall.$GUEST_ZONE.output='ACCEPT'
uci set firewall.$GUEST_ZONE.forward='REJECT'

# IoT zone
IOT_ZONE=$(uci add firewall zone)
uci set firewall.$IOT_ZONE.name='iot'
uci del firewall.$IOT_ZONE.network
uci add_list firewall.$IOT_ZONE.network='iot'
uci set firewall.$IOT_ZONE.input='ACCEPT'
uci set firewall.$IOT_ZONE.output='ACCEPT'
uci set firewall.$IOT_ZONE.forward='REJECT'

#######################################
# Forwarding rules
#######################################

# LAN to Docker
LAN_DOCKER_FORWARDING=$(uci add firewall forwarding)
uci set firewall.$LAN_DOCKER_FORWARDING.src='lan'
uci set firewall.$LAN_DOCKER_FORWARDING.dest='docker'

# LAN to Guest
LAN_GUEST_FORWARDING=$(uci add firewall forwarding)
uci set firewall.$LAN_GUEST_FORWARDING.src='lan'
uci set firewall.$LAN_GUEST_FORWARDING.dest='guest'

# LAN to IoT
LAN_IOT_FORWARDING=$(uci add firewall forwarding)
uci set firewall.$LAN_IOT_FORWARDING.src='lan'
uci set firewall.$LAN_IOT_FORWARDING.dest='iot'

# Guest to IoT
GUEST_IOT_FORWARDING=$(uci add firewall forwarding)
uci set firewall.$GUEST_IOT_FORWARDING.src='guest'
uci set firewall.$GUEST_IOT_FORWARDING.dest='iot'

# Guest to WAN
GUEST_WAN_FORWARDING=$(uci add firewall forwarding)
uci set firewall.$GUEST_WAN_FORWARDING.src='guest'
uci set firewall.$GUEST_WAN_FORWARDING.dest='wan'

# Docker to WAN
DOCKER_WAN_FORWARDING=$(uci add firewall forwarding)
uci set firewall.$DOCKER_WAN_FORWARDING.src='docker'
uci set firewall.$DOCKER_WAN_FORWARDING.dest='wan'

# IoT to WAN
LAN_IOT_FORWARDING=$(uci add firewall forwarding)
uci set firewall.$LAN_IOT_FORWARDING.src='iot'
uci set firewall.$LAN_IOT_FORWARDING.dest='wan'

#######################################
# DNS Redirect rules
#######################################

# Intercept DNS from LAN
uci set firewall.dns_int_lan=redirect
uci set firewall.dns_int_lan.name='Intercept-DNS-LAN'
uci set firewall.dns_int_lan.family='any'
uci set firewall.dns_int_lan.proto='tcp udp'
uci set firewall.dns_int_lan.src='lan'
uci set firewall.dns_int_lan.src_dport='53'
uci set firewall.dns_int_lan.target='DNAT'

# Intercept DNS from Guest
uci set firewall.dns_int_guest=redirect
uci set firewall.dns_int_guest.name='Intercept-DNS-Guest'
uci set firewall.dns_int_guest.family='any'
uci set firewall.dns_int_guest.proto='tcp udp'
uci set firewall.dns_int_guest.src='guest'
uci set firewall.dns_int_guest.src_dport='53'
uci set firewall.dns_int_guest.target='DNAT'

# Intercept DNS from Docker
uci set firewall.dns_int_docker=redirect
uci set firewall.dns_int_docker.name='Intercept-DNS-Docker'
uci set firewall.dns_int_docker.family='any'
uci set firewall.dns_int_docker.proto='tcp udp'
uci set firewall.dns_int_docker.src='docker'
uci set firewall.dns_int_docker.src_dport='53'
uci set firewall.dns_int_docker.target='DNAT'

# Intercept DNS from IoT
uci set firewall.dns_int_iot=redirect
uci set firewall.dns_int_iot.name='Intercept-DNS-IoT'
uci set firewall.dns_int_iot.family='any'
uci set firewall.dns_int_iot.proto='tcp udp'
uci set firewall.dns_int_iot.src='iot'
uci set firewall.dns_int_iot.src_dport='53'
uci set firewall.dns_int_iot.target='DNAT'
