{
  "name": "podext",
  "id": "b1735d987dba5783832319e7e71551a01b7fe0eed4779b21396d241a3aad2f38",
  "driver": "bridge",
   "network_interface": "podext0",
  "created": "2026-01-25T00:00:00.000000000Z",
  "subnets": [
    {
      "subnet": "192.168.8.0/24",
      "gateway": "192.168.8.1"
    },
    {
      "subnet": "{{ ula_prefix }}:8::/64",
      "gateway": "{{ ula_prefix }}:8::1"
    }
  ],
  "ipv6_enabled": true,
  "internal": false,
  "dns_enabled": true,
  "ipam_options": {
    "driver": "host-local"
  }
}
