---
- name: Run post reboot
  ansible.builtin.import_role:
    name: common_post_reboot

- name: Install SQM packages
  community.general.opkg:
    name: luci-app-sqm
    state: present

- name: Get WAN interface name
  ansible.builtin.shell: set -o pipefail && uci show network.wan.device | cut -d= -f2 | tr -d "'"
  register: wan_interface_result
  changed_when: false

- name: Set WAN interface name
  ansible.builtin.set_fact:
    wan_interface: "{{ wan_interface_result.stdout | trim }}"

- name: Cleanup default sqm config
  uci:
    command: absent
    key: sqm.eth1

- name: Configure SQM for WAN
  uci:
    command: section
    config: sqm
    type: queue
    name: wan
    value:
      enabled: '1'
      interface: "{{ wan_interface }}"
      download: '0'
      upload: '950000'
      qdisc: cake
      script: piece_of_cake.qos
      linklayer: ethernet
      debug_logging: '0'
      verbosity: '5'
      overhead: '44'
      linklayer_advanced: '1'
      tcMTU: '2047'
      tcTSIZE: '128'
      tcMPU: '84'
      linklayer_adaptation_mechanism: default
    replace: true

- name: Commit SQM configuration
  uci:
    command: commit
    config: sqm
  notify: Reload config
