---
- name: Create k3s TLS directory
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/server/tls
    state: directory
    mode: '0755'
    recurse: true

# ------------------------------------------------------------------------------
# Client CA
# ------------------------------------------------------------------------------
- name: Generate Client CA private key
  community.crypto.openssl_privatekey:
    path: /var/lib/rancher/k3s/server/tls/client-ca.key
    type: RSA
    size: 2048
    mode: '0600'

- name: Generate Client CA CSR
  community.crypto.openssl_csr:
    path: /var/lib/rancher/k3s/server/tls/client-ca.csr
    privatekey_path: /var/lib/rancher/k3s/server/tls/client-ca.key
    common_name: k3s-client-ca
    basic_constraints: "CA:TRUE"
    basic_constraints_critical: true
    mode: '0644'

- name: Generate Client CA certificate
  community.crypto.x509_certificate:
    path: /var/lib/rancher/k3s/server/tls/client-ca.crt
    csr_path: /var/lib/rancher/k3s/server/tls/client-ca.csr
    privatekey_path: /var/lib/rancher/k3s/server/tls/client-ca.key
    provider: selfsigned
    selfsigned_not_after: "+36500d"
    mode: '0644'

# ------------------------------------------------------------------------------
# Server CA
# ------------------------------------------------------------------------------
- name: Generate Server CA private key
  community.crypto.openssl_privatekey:
    path: /var/lib/rancher/k3s/server/tls/server-ca.key
    type: RSA
    size: 2048
    mode: '0600'

- name: Generate Server CA CSR
  community.crypto.openssl_csr:
    path: /var/lib/rancher/k3s/server/tls/server-ca.csr
    privatekey_path: /var/lib/rancher/k3s/server/tls/server-ca.key
    common_name: k3s-server-ca
    basic_constraints: "CA:TRUE"
    basic_constraints_critical: true
    mode: '0644'

- name: Generate Server CA certificate
  community.crypto.x509_certificate:
    path: /var/lib/rancher/k3s/server/tls/server-ca.crt
    csr_path: /var/lib/rancher/k3s/server/tls/server-ca.csr
    privatekey_path: /var/lib/rancher/k3s/server/tls/server-ca.key
    provider: selfsigned
    selfsigned_not_after: "+36500d"
    mode: '0644'

# ------------------------------------------------------------------------------
# Request Header CA
# ------------------------------------------------------------------------------
- name: Generate Request Header CA private key
  community.crypto.openssl_privatekey:
    path: /var/lib/rancher/k3s/server/tls/request-header-ca.key
    type: RSA
    size: 2048
    mode: '0600'

- name: Generate Request Header CA CSR
  community.crypto.openssl_csr:
    path: /var/lib/rancher/k3s/server/tls/request-header-ca.csr
    privatekey_path: /var/lib/rancher/k3s/server/tls/request-header-ca.key
    common_name: k3s-request-header-ca
    basic_constraints: "CA:TRUE"
    basic_constraints_critical: true
    mode: '0644'

- name: Generate Request Header CA certificate
  community.crypto.x509_certificate:
    path: /var/lib/rancher/k3s/server/tls/request-header-ca.crt
    csr_path: /var/lib/rancher/k3s/server/tls/request-header-ca.csr
    privatekey_path: /var/lib/rancher/k3s/server/tls/request-header-ca.key
    provider: selfsigned
    selfsigned_not_after: "+36500d"
    mode: '0644'

# ------------------------------------------------------------------------------
# Admin Client Certificate
# ------------------------------------------------------------------------------
- name: Generate Admin Client private key
  community.crypto.openssl_privatekey:
    path: /var/lib/rancher/k3s/server/tls/client-admin.key
    type: RSA
    size: 2048
    mode: '0600'

- name: Generate Admin Client CSR
  community.crypto.openssl_csr:
    path: /var/lib/rancher/k3s/server/tls/client-admin.csr
    privatekey_path: /var/lib/rancher/k3s/server/tls/client-admin.key
    common_name: system:admin
    organization_name: system:masters
    mode: '0644'

- name: Generate Admin Client certificate
  community.crypto.x509_certificate:
    path: /var/lib/rancher/k3s/server/tls/client-admin.crt
    csr_path: /var/lib/rancher/k3s/server/tls/client-admin.csr
    ownca_path: /var/lib/rancher/k3s/server/tls/client-ca.crt
    ownca_privatekey_path: /var/lib/rancher/k3s/server/tls/client-ca.key
    provider: ownca
    ownca_not_after: "+36500d"
    mode: '0644'
