---
- name: Configure wildcard DNS for k3s services
  uci:
    command: set
    key: dhcp.@dnsmasq[0].address
    value:
      - "/.{{ domain }}/192.168.{{ k3s_admin_vlan_id }}.1"
      - "/.{{ domain }}/{{ ula_prefix }}:{{ k3s_admin_vlan_id }}::1"

- name: Commit dhcp changes
  uci:
    command: commit
    config: dhcp
  notify: Reload config
