---
- name: Configure wildcard DNS for k3s services
  uci:
    command: set
    key: dhcp.@dnsmasq[0].address
    value:
      - "/.{{ domain }}/192.168.{{ k3s_admin_subnet_id }}.1"
      - "/.{{ domain }}/{{ ula_prefix }}:{{ k3s_admin_subnet_id }}::1"

- name: Configure DHCP option 138 for Omada Controller discovery
  uci:
    command: set
    key: dhcp.lan.dhcp_option
    value:
      - "6,192.168.1.1"
      - "138,192.168.1.1"

- name: Commit dhcp changes
  uci:
    command: commit
    config: dhcp
  notify: Reload config
