---
- name: Create firewall zone k3s_admin
  uci:
    command: section
    config: firewall
    type: zone
    name: k3s_admin
    value:
      name: k3s_admin
      network:
        - k3s_admin
      device:
        - cni0
        - flannel.1
      input: REJECT
      output: ACCEPT
      forward: ACCEPT

- name: Create forwarding k3s_admin to wan
  uci:
    command: section
    config: firewall
    type: forwarding
    find-by:
      src: k3s_admin
      dest: wan

- name: Create firewall zone k3s_external
  uci:
    command: section
    config: firewall
    type: zone
    name: k3s_external
    value:
      name: k3s_external
      network:
        - k3s_external
      input: REJECT
      output: ACCEPT
      forward: REJECT

- name: Allow k3s_admin DNS access to router
  uci:
    command: section
    config: firewall
    type: rule
    name: allow_k3s_admin_dns
    value:
      name: Allow k3s_admin DNS to router
      src: k3s_admin
      proto: tcp udp
      dest_port: 53
      family: any
      target: ACCEPT

- name: Allow k3s_admin API access to router
  uci:
    command: section
    config: firewall
    type: rule
    name: allow_k3s_admin_api
    value:
      name: Allow k3s_admin API to router
      src: k3s_admin
      proto: tcp
      dest_port: 6443
      family: any
      target: ACCEPT

- name: Allow k3s_admin Kubelet access to router
  uci:
    command: section
    config: firewall
    type: rule
    name: allow_k3s_admin_kubelet
    value:
      name: Allow k3s_admin Kubelet to router
      src: k3s_admin
      proto: tcp
      dest_port: 10250
      family: any
      target: ACCEPT

- name: Redirect LAN to k3s_admin 443 to 8443 (IPv4)
  uci:
    command: section
    config: firewall
    type: redirect
    name: lan_to_k3s_admin_443_to_8443_ipv4
    value:
      name: Redirect LAN to k3s_admin 443 to 8443 (IPv4)
      src: lan
      src_dip: 192.168.{{ k3s_admin_subnet_id }}.1
      src_dport: 443
      dest: k3s_admin
      dest_ip: 192.168.{{ k3s_admin_subnet_id }}.1
      dest_port: 8443
      proto: tcp
      family: ipv4
      target: DNAT

- name: Redirect LAN to k3s_admin 443 to 8443 (IPv6)
  uci:
    command: section
    config: firewall
    type: redirect
    name: lan_to_k3s_admin_443_to_8443_ipv6
    value:
      name: Redirect LAN to k3s_admin 443 to 8443 (IPv6)
      src: lan
      src_dip: "{{ ula_prefix }}:{{ k3s_admin_subnet_id }}::1"
      src_dport: 443
      dest: k3s_admin
      dest_ip: "{{ ula_prefix }}:{{ k3s_admin_subnet_id }}::1"
      dest_port: 8443
      proto: tcp
      family: ipv6
      target: DNAT

- name: Redirect k3s_external 443 to 8443 (IPv4)
  uci:
    command: section
    config: firewall
    type: redirect
    name: k3s_external_443_to_8443_ipv4
    value:
      name: Redirect k3s_external 443 to 8443 (IPv4)
      src: k3s_external
      src_dip: 192.168.{{ k3s_external_subnet_id }}.1
      src_dport: 443
      dest: k3s_external
      dest_ip: 192.168.{{ k3s_external_subnet_id }}.1
      dest_port: 8443
      proto: tcp
      family: ipv4
      target: DNAT

- name: Redirect k3s_external 443 to 8443 (IPv6)
  uci:
    command: section
    config: firewall
    type: redirect
    name: k3s_external_443_to_8443_ipv6
    value:
      name: Redirect k3s_external 443 to 8443 (IPv6)
      src: k3s_external
      src_dip: "{{ ula_prefix }}:{{ k3s_external_subnet_id }}::1"
      src_dport: 443
      dest: k3s_external
      dest_ip: "{{ ula_prefix }}:{{ k3s_external_subnet_id }}::1"
      dest_port: 8443
      proto: tcp
      family: ipv6
      target: DNAT

- name: Allow WAN HTTPS to k3s_external (IPv4 DNAT)
  uci:
    command: section
    config: firewall
    type: redirect
    name: wan_to_k3s_external_https_ipv4
    value:
      name: Allow WAN HTTPS to k3s_external (IPv4)
      src: wan
      src_dport: 443
      dest: k3s_external
      dest_ip: 192.168.{{ k3s_external_subnet_id }}.1
      dest_port: 8443
      proto: tcp
      family: ipv4
      target: DNAT

- name: Drop non-TLS traffic on WAN port 443 (IPv4)
  uci:
    command: section
    config: firewall
    type: rule
    name: drop_non_tls_wan_ipv4
    value:
      name: Drop non-TLS on WAN 443 (IPv4)
      src: wan
      dest: k3s_external
      proto: tcp
      dest_port: 8443
      family: ipv4
      extra: "-m u32 ! --u32 '0>>22&0x3C@12>>24=0x16 && 0>>22&0x3C@13>>24=0x03'"
      extra_src: "-m limit --limit 1/sec --limit-burst 5"
      log: true
      log_prefix: "DROP-NONTLS: "
      target: DROP

- name: Allow WAN HTTPS to k3s_external (IPv6 DNAT)
  uci:
    command: section
    config: firewall
    type: redirect
    name: wan_to_k3s_external_https_ipv6
    value:
      name: Allow WAN HTTPS to k3s_external (IPv6)
      src: wan
      src_dport: 443
      dest: k3s_external
      dest_ip: "{{ ula_prefix }}:{{ k3s_external_subnet_id }}::1"
      dest_port: 8443
      proto: tcp
      family: ipv6
      target: DNAT

- name: Drop non-TLS traffic on WAN port 443 (IPv6)
  uci:
    command: section
    config: firewall
    type: rule
    name: drop_non_tls_wan_ipv6
    value:
      name: Drop non-TLS on WAN 443 (IPv6)
      src: wan
      dest: k3s_external
      proto: tcp
      dest_port: 8443
      family: ipv6
      extra: "-m u32 ! --u32 '0>>22&0x3C@12>>24=0x16 && 0>>22&0x3C@13>>24=0x03'"
      extra_src: "-m limit --limit 1/sec --limit-burst 5"
      log: true
      log_prefix: "DROP-NONTLS: "
      target: DROP

- name: Allow k3s_admin to access AP Management
  uci:
    command: section
    config: firewall
    type: rule
    name: allow_k3s_admin_ap
    value:
      name: Allow k3s_admin to AP
      src: k3s_admin
      dest: lan
      dest_ip: 192.168.1.90
      target: ACCEPT

- name: Allow VXLAN traffic from k3s_admin zone
  uci:
    command: section
    config: firewall
    type: rule
    name: allow_k3s_vxlan
    value:
      name: Allow VXLAN from k3s_admin
      src: k3s_admin
      proto: udp
      dest_port: 8472
      family: any
      target: ACCEPT

- name: Drop VXLAN traffic from other zones
  uci:
    command: section
    config: firewall
    type: rule
    name: drop_vxlan_other
    value:
      name: Drop VXLAN from other zones
      proto: udp
      dest_port: 8472
      family: any
      target: DROP

- name: Commit firewall
  uci:
    command: commit
    config: firewall
  notify: Reload config

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
