---
- name: Run post reboot
  ansible.builtin.import_role:
    name: common_post_reboot

- name: Allow non-root users to bind to privileged ports
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: '0'
    sysctl_set: true
    state: present
    reload: true

- name: Configure dummy module options
  ansible.builtin.lineinfile:
    path: /etc/modules.conf
    line: 'options dummy numdummies=2'
    create: true
    mode: '0644'

- name: Install k3s dependencies
  community.general.opkg:
    name: "{{ item }}"
    state: present
  loop:
    - kmod-br-netfilter
    - kmod-ipt-ipset
    - kmod-ipt-conntrack-extra
    - kmod-ipt-extra
    - kmod-nf-conntrack-netlink
    - kmod-vxlan
    - kmod-veth
    - kmod-ipt-nat
    - kmod-ipt-nat6
    - kmod-ipt-nat-extra
    - kmod-ikconfig
    - kmod-dummy
    - ipset
    - iptables-nft
    - ip6tables-nft
    - iptables-mod-extra
    - ip-full
    - ca-certificates
    - conntrack
    - ip-bridge
    - coreutils-sha256sum
    - coreutils-stat

- name: Download k3s binary
  ansible.builtin.get_url:
    url: "{{ k3s_url }}"
    dest: /usr/bin/k3s
    mode: '0755'

- name: Create k3s config directory
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: '0755'

- name: Copy flannel config
  ansible.builtin.template:
    src: flannel-config.json.j2
    dest: /etc/rancher/k3s/flannel-config.json
    mode: '0644'

- name: Create k3s config
  ansible.builtin.template:
    src: k3s.j2
    dest: /etc/config/k3s
    mode: '0644'

- name: Create k3s init script
  ansible.builtin.copy:
    src: k3s.init
    dest: /etc/init.d/k3s
    mode: '0755'

- name: Configure network
  ansible.builtin.include_tasks: network.yml

- name: Configure firewall
  ansible.builtin.include_tasks: firewall.yml

- name: Configure dns
  ansible.builtin.include_tasks: dns.yml

- name: Ensure ACME certificate keys are readable by Traefik
  ansible.builtin.file:
    path: "{{ acme_key }}"
    owner: root
    group: 65532
    mode: '0640'

- name: Start k3s
  ansible.builtin.service:
    name: k3s
    state: started
    enabled: true

- name: Wait for k3s manifests directory
  ansible.builtin.wait_for:
    path: /var/lib/rancher/k3s/server/manifests
    state: present
    timeout: 120

- name: Install Helm
  ansible.builtin.unarchive:
    src: "{{ helm_url }}"
    dest: /usr/bin
    remote_src: true
    extra_opts:
      - --strip-components=1
      - linux-amd64/helm
    mode: '0755'

- name: Create kubectl symlink
  ansible.builtin.file:
    src: /usr/bin/k3s
    dest: /usr/bin/kubectl
    state: link

- name: Create crictl symlink
  ansible.builtin.file:
    src: /usr/bin/k3s
    dest: /usr/bin/crictl
    state: link

- name: Create ctr symlink
  ansible.builtin.file:
    src: /usr/bin/k3s
    dest: /usr/bin/ctr
    state: link

- name: Configure K3s manifests
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "/var/lib/rancher/k3s/server/manifests/{{ item | regex_replace('\\.j2$', '') }}"
    mode: '0644'
  loop:
    - traefik-config.yaml.j2
    - k3s-api-ingress.yaml.j2
    - guacamole.yaml.j2
    - firefox.yaml.j2
    - authentik.yaml.j2
    - kubernetes-dashboard.yaml.j2
