---
- name: Create network interface k3s_admin
  uci:
    command: section
    config: network
    type: interface
    name: k3s_admin
    value:
      proto: static
      device: dummy0
      ipaddr: 192.168.{{ k3s_admin_subnet_id }}.1
      netmask: 255.255.255.0
      ip6hint: "{{ k3s_admin_subnet_id }}"
      ip6assign: 64

- name: Create network interface k3s_external
  uci:
    command: section
    config: network
    type: interface
    name: k3s_external
    value:
      proto: static
      device: dummy1
      ipaddr: 192.168.{{ k3s_external_subnet_id }}.1
      netmask: 255.255.255.0
      ip6hint: "{{ k3s_external_subnet_id }}"
      ip6assign: 64

- name: Commit network
  uci:
    command: commit
    config: network
  notify: Reload config

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
