
config ddns 'global'
	option ddns_dateformat '%F %R'
	option ddns_loglines '250'
	option ddns_rundir '/var/run/ddns'
	option ddns_logdir '/var/log/ddns'

config service 'ovhddns_ipv4'
	option service_name '{{ ddns_service_name }}'
	option use_ipv6 '0'
	option enabled '1'
	option lookup_host '{{ ddns_lookup_host }}'
	option domain '{{ ddns_domain }}'
	option username '{{ ddns_username }}'
	option password '{{ 'password' if inventory_hostname == 'virtualbox' else ddns_password }}'
	option ip_source 'network'
	option ip_network 'wan'
	option interface 'wan'
	option use_syslog '2'
	option use_https '1'
	option cacert '/etc/ssl/certs'

config service 'ovhddns_ipv6'
	option service_name '{{ ddns_service_name }}'
	option use_ipv6 '1'
	option enabled '1'
	option lookup_host '{{ ddns_lookup_host }}'
	option domain '{{ ddns_domain }}'
	option username '{{ ddns_username }}'
	option password '{{ 'password' if inventory_hostname == 'virtualbox' else ddns_password }}'
	option ip_source 'interface'
	option interface 'wan'
	option ip_interface 'eth3.100'
	option use_syslog '2'
	option use_https '1'
	option cacert '/etc/ssl/certs'
