---
# https://openwrt.org/docs/guide-user/services/dns/dot_dnsmasq_dnsproxy
- name: Wait for internet access
  ansible.builtin.import_role:
    name: wait_internet


- name: Install dnsproxy package
  community.general.opkg:
    name: dnsproxy
    state: present
    update_cache: true


- name: Configure dnsproxy global settings
  uci:
    command: section
    config: dnsproxy
    type: dnsproxy
    name: global
    value:
      enabled: '1'


- name: Configure dnsproxy servers
  uci:
    command: section
    config: dnsproxy
    type: dnsproxy
    name: servers
    value:
      bootstrap:
        - 8.8.8.8
      upstream:
        - quic://dns.adguard-dns.com
        - tls://security.cloudflare-dns.com
    replace: true


- name: Commit dnsproxy configuration
  uci:
    command: commit
    config: dnsproxy
  notify: Restart dnsproxy service


- name: Copy sysctl buffer size configuration
  ansible.builtin.copy:
    src: 12-buffer-size.conf
    dest: /etc/sysctl.d/12-buffer-size.conf
    mode: '0644'


- name: Apply sysctl buffer size configuration
  ansible.builtin.command: sysctl -p /etc/sysctl.d/12-buffer-size.conf
  changed_when: true


# Instance dnsmasq pour LAN
- name: Configure LAN dnsmasq instance
  uci:
    command: section
    config: dhcp
    type: dnsmasq
    find_by:
      domain: lan
    value:
      force: 1
      ra_default: 1
      noresolv: '1'
      cachesize: '10000'
      max_ttl: 3600
      max_cache_ttl: 3600
      server:
        - 127.0.0.1#5353
        - ::1#5353
  notify: Restart dnsmasq service
