---
- name: Run post reboot
  ansible.builtin.import_role:
    name: common_post_reboot

- name: Install Docker packages
  community.general.opkg:
    name: "{{ item }}"
    state: present
  loop:
    - luci-app-dockerman
    - kmod-macvlan
    - kmod-nf-conntrack-netlink
  timeout: 300

- name: Remove Docker firewall configuration
  uci:
    command: absent
    config: dockerd
    section: firewall

- name: Remove Docker proxies configuration
  uci:
    command: absent
    config: dockerd
    section: proxies

- name: Configure Docker UCI settings
  uci:
    command: section
    config: dockerd
    type: globals
    name: globals
    value:
      ipv6: 1
      fixed_cidr_v6: 'fc00:1::/80'
      iptables: 0
      alt_config_file: /etc/docker/daemon.json
      data_root: /opt/docker/
      log_level: info

- name: Commit Docker
  uci:
    command: commit
    config: dockerd
  notify: Reload config

- name: Creates /etc/docker
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Copy /etc/docker/daemon.json
  ansible.builtin.copy:
    src: daemon.json
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: '0644'
  notify: Restart Docker

- name: Create forwarding docker to wan
  uci:
    command: section
    config: firewall
    type: forwarding
    find-by:
      src: docker
      dest: wan

- name: Create forwarding lan to docker
  uci:
    command: section
    config: firewall
    type: forwarding
    find-by:
      src: lan
      dest: docker

- name: Commit firewall
  uci:
    command: commit
    config: firewall
  notify: Reload config

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
