#!/bin/sh

#######################################
# change root password
#######################################

passwd root <<EOP
{{ root_password }}
{{ root_password }}
EOP

echo {{ ssh_key }} >> /etc/dropbear/authorized_keys

chmod u=rwx,g=,o= /root/checkaspm.sh

uci set system.@system[0].hostname='{{ system_hostname }}'
uci set system.@system[0].timezone='CET-1CEST,M3.5.0,M10.5.0/3'
uci set system.@system[0].zonename='Europe/Paris'
uci set system.@system[0].log_size='2048'
uci set system.ntp.enable_server='1'
uci del system.ntp.server
uci add_list system.ntp.server="216.239.35.0"     # time.google.com
uci add_list system.ntp.server="216.239.35.4"     # time.google.com
uci add_list system.ntp.server="216.239.35.8"     # time.google.com
uci add_list system.ntp.server="216.239.35.12"    # time.google.com
uci add_list system.ntp.server="162.159.200.123"  # time.cloudflare.com
uci add_list system.ntp.server="162.159.200.1"    # time.cloudflare.com

# Secure SSH access
uci set dropbear.@dropbear[0].Interface='lan'
uci set dropbear.@dropbear[0].PasswordAuth='off'
uci set dropbear.@dropbear[0].RootPasswordAuth='off'

uci set luci_statistics.collectd_sensors.enable='1'
