#!/bin/sh
# https://openwrt.org/docs/guide-user/services/dns/dot_dnsmasq_dnsproxy

# Configure dnsmasq
service dnsmasq stop
uci set dhcp.@dnsmasq[0].noresolv="1"
uci set dhcp.@dnsmasq[0].cachesize="10000"
uci -q del dhcp.@dnsmasq[0].server
uci add_list dhcp.@dnsmasq[0].server="127.0.0.1#5354"
uci add_list dhcp.@dnsmasq[0].server="::1#5354"
uci commit dhcp
service dnsmasq start
 
# Configure dnsproxy
uci set dnsproxy.global.enabled="1"
uci del dnsproxy.global.listen_port
uci add_list dnsproxy.global.listen_port="5354"
uci set dnsproxy.cache.enabled="0"  # "1" to enable (Enable this ONLY if you want to test "cache_optimistic" option)
uci set dnsproxy.cache.cache_optimistic="1"
uci set dnsproxy.cache.size="2097152"  # Equal to 2 MB (in binary)
uci del dnsproxy.servers.bootstrap
uci add_list dnsproxy.servers.bootstrap="8.8.8.8"
uci add_list dnsproxy.servers.bootstrap="tcp://8.8.8.8"
uci commit dnsproxy
service dnsproxy restart

sysctl -p /etc/sysctl.d/12-buffer-size.conf
