---
- name: Install CrowdSec packages
  community.general.opkg:
    name: "{{ item }}"
    state: present
  loop:
    - crowdsec
    - luci-app-crowdsec-firewall-bouncer

- name: Configure CrowdSec acquisition for syslog
  ansible.builtin.template:
    src: acquis.yaml.j2
    dest: /etc/crowdsec/acquis.yaml
    mode: '0600'
  notify: Restart crowdsec

- name: Install CrowdSec collections
  ansible.builtin.command: cscli collections install {{ item }}
  loop:
    - crowdsecurity/sshd
    - crowdsecurity/linux
    - crowdsecurity/traefik
  register: cscli_install
  changed_when: "'Enabled' in cscli_install.stdout"
  failed_when: false

- name: Install CrowdSec parsers
  ansible.builtin.command: cscli parsers install {{ item }}
  loop:
    - crowdsecurity/cri-logs
  register: cscli_parsers_install
  changed_when: "'Enabled' in cscli_parsers_install.stdout"
  failed_when: false

- name: Enroll CrowdSec instance
  ansible.builtin.command: cscli console enroll {{ crowdsec_enroll_key }}
  when: crowdsec_enroll_key | length > 0
  register: crowdsec_enroll
  changed_when: "'Successfully enrolled' in crowdsec_enroll.stdout"
  failed_when:
    - crowdsec_enroll.rc != 0
    - "'already enrolled' not in crowdsec_enroll.stderr"

- name: Create crowdsec-firewall-bouncer
  ansible.builtin.command: cscli bouncers add crowdsec-firewall-bouncer -o raw -k {{ crowdsec_firewall_bouncer_api_key }}
  register: crowdsec_bouncer_add_result
  changed_when: crowdsec_bouncer_add_result.rc == 0
  failed_when: |-
    crowdsec_bouncer_add_result.rc != 0
    and "unable to create bouncer: bouncer crowdsec-firewall-bouncer already exists" not in crowdsec_bouncer_add_result.stderr

- name: Configure CrowdSec Bouncer options
  uci:
    command: section
    config: crowdsec
    type: bouncer
    find-by:
      interface:
        - "{{ crowdsec_wan_interface }}"
    value:
      ipv4: 1
      ipv6: 1
      api_url: 'http://127.0.0.1:8080/'
      enabled: 1
      api_key: "{{ crowdsec_firewall_bouncer_api_key }}"
      deny_action: drop
      deny_log: 1
      log_prefix: "crowdsec: "
      log_level: info
      filter_input: 1
      filter_forward: 1

- name: Commit UCI changes for CrowdSec Bouncer
  uci:
    command: commit
    config: crowdsec
  notify:
    - Restart crowdsec-firewall-bouncer
    - Restart crowdsec

- name: Enable logging on WAN zone for rejected traffic
  uci:
    command: section
    config: firewall
    type: zone
    find-by:
      name: wan
    value:
      log: 1
      log_limit: '10/minute'

- name: Commit firewall changes for WAN logging
  uci:
    command: commit
    config: firewall
  notify: Reload config
