---
# iKoolCore R2 Max
# Interface: eth0 -> PCI: 02:00.0 Ethernet controller [0200]: Intel Corporation Ethernet Controller I226-V [8086:125c] (rev 04)
# Interface: eth1 -> PCI: 03:00.0 Ethernet controller [0200]: Intel Corporation Ethernet Controller I226-V [8086:125c] (rev 04)
# Interface: eth2 -> PCI: 04:00.0 Ethernet controller [0200]: Aquantia Corp. AQC113C NBase-T/IEEE 802.3an Ethernet Controller [1d6a:14c0] (rev 03)
# Interface: eth3 -> PCI: 05:00.0 Ethernet controller [0200]: Aquantia Corp. AQC113C NBase-T/IEEE 802.3an Ethernet Controller [1d6a:14c0] (rev 03)

firmware_build_dir: "{{ playbook_dir }}/build/"

firmware_packages_to_delete:
  - dropbear
  - luci-app-dropbear

firmware_packages_to_add:
  # System & Utils
  - vim-full
  - vim-runtime
  - btop
  - bash
  - less
  - ncdu
  - dmesg
  - tar
  - gzip
  - unzip
  - wget-ssl
  - tcpdump
  - curl
  - usbutils
  - pciutils
  - shadow-utils
  - findutils
  - coreutils-timeout
  - lsblk
  - blkid
  - rng-tools
  - lm-sensors
  - openssh-server
  - openssh-sftp-server
  - powertop
  - avahi-dbus-daemon
  - logrotate

  # Python
  - python3-light
  - python3-logging
  - python3-urllib
  - python3-multiprocessing
  - python3-decimal
  - python3-requests
  - python3-openssl
  - python3-cryptography

  # LuCI Apps
  - luci-ssl-nginx
  - luci-app-sqm
  - luci-app-ddns
  - luci-app-dockerman
  - luci-proto-wireguard
  - collectd-mod-sensors
  - adguardhome

  # ACME
  - luci-app-acme
  - acme-acmesh-dnsapi

  # Disk resize tools (used by uci-defaults at first boot)
  - parted
  - sgdisk
  - losetup
  - resize2fs

  # Networking
  - kmod-atlantic
  - kmod-dummy

  # FreeRADIUS Server (WiFi: PEAP-MSCHAPv2 / Wired: MAB)
  - freeradius3                          # Serveur RADIUS principal
  - freeradius3-mod-files                # Lecture des fichiers de config (authorize, clients.conf)
  - freeradius3-mod-eap-peap             # PEAP - Tunnel TLS chiffré pour WiFi avec mot de passe
  - freeradius3-mod-eap-mschapv2         # MS-CHAPv2 - Authentification par mot de passe dans tunnel PEAP
  - freeradius3-mod-pap                  # PAP - Authentification MAC (MAB) pour connexions filaires
  - freeradius3-mod-preprocess           # Preprocessing des requêtes (hints, huntgroups)
  - freeradius3-mod-attr-filter          # Filtrage des attributs RADIUS dans les réponses
  - freeradius3-utils                    # Outils de test (radtest, radclient, raddebug)

# FreeRADIUS clients configuration
# Shared secret for RADIUS communication between authenticator (hostapd) and RADIUS server
freeradius_shared_secret: "testing123"  # TODO: Change to a secure random value in production

# Guest WiFi default password - any unknown MAC with this password goes to guest VLAN
freeradius_guest_password: "testing123"  # TODO: Change to a secure random value in production
freeradius_guest_vlan_id: "{{ guest_subnet_id }}"  # Guest VLAN

# WiFi clients with password authentication (PEAP-MSCHAPv2)
# Use username/password - VLAN assigned based on username
freeradius_wifi_clients:
  - mac: "9c:65:eb:d1:45:07"
    password: "testing123"  # TODO: Change to a secure random value in production
    vlan_id: 99
    comment: "Laptop - MGNT VLAN"
  - mac: "fc:41:16:c1:cd:97"
    password: "testing123"  # TODO: Change to a secure random value in production
    vlan_id: 99
    comment: "Pixel ben - MGNT VLAN"

# Wired clients with MAC authentication only (MAB - no password prompt)
# These will be assigned to VLANs dynamically on eth0
freeradius_wired_clients:
  - mac: "aa:bb:cc:dd:ee:00"
    vlan_id: 2  # LAN
    comment: "Laptop Ethernet"
  - mac: "11:22:33:44:55:00"
    vlan_id: 3  # Guest
    comment: "Desktop Ethernet"
  - mac: "22:33:44:55:66:00"
    vlan_id: 4  # IoT
    comment: "IoT Device"
  - mac: "33:44:55:66:77:00"
    vlan_id: 9  # MGNT
    comment: "Management Device"
