---
- name: Create network interface k8s_admin
  uci:
    command: section
    config: network
    type: interface
    name: k8s_admin
    value:
      proto: static
      device: dummy0
      ipaddr: 172.16.10.1
      netmask: 255.255.255.0
      ip6hint: 10
      ip6assign: 64

- name: Create network interface k8s_external
  uci:
    command: section
    config: network
    type: interface
    name: k8s_external
    value:
      proto: static
      device: dummy1
      ipaddr: 172.16.20.1
      netmask: 255.255.255.0
      ip6hint: 20
      ip6assign: 64

- name: Commit network
  uci:
    command: commit
    config: network
  notify: Reload config

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
