---
- name: Create Docker compose volume directories
  ansible.builtin.file:
    path: /root/docker/volumes/{{ item }}
    state: directory
    mode: '0755'
  loop:
    - traefik
    - omada/data
    - omada/logs
    - omada-db
    - firefox
    - beszel-hub
    - beszel-agent
    - teleport

- name: Create Docker config directory
  ansible.builtin.file:
    path: /root/.docker
    state: directory
    mode: '0700'

- name: Deploy Docker config file
  ansible.builtin.template:
    src: config.json.j2
    dest: /root/.docker/config.json
    mode: '0600'
  when: docker_registry_username is defined and docker_registry_username | length > 0

- name: Deploy compose file
  ansible.builtin.template:
    src: compose.yaml.j2
    dest: /root/docker/compose.yaml
    mode: '0644'

- name: Deploy teleport config file
  ansible.builtin.template:
    src: teleport.yaml.j2
    dest: /root/docker/teleport.yaml
    mode: '0644'

- name: Start compose stack
  community.docker.docker_compose_v2:
    project_src: /root/docker
    state: present
