---
- name: Create virtual ethernet device for Docker isolation
  uci:
    command: section
    config: network
    type: device
    find-by:
      name: "{{ host_interface }}"
    value:
      type: veth
      peer_name: "{{ docker_interface }}"
      ipv6: 1

- name: "Create network interface {{ service }}"
  uci:
    command: section
    config: network
    type: interface
    name: "{{ service }}"
    value:
      device: "{{ host_interface }}"
      proto: static
      ipaddr: "{{ gateway_ipv4 }}"
      netmask: "{{ netmask }}"
      ip6hint: "{{ vlan_id }}"
      ip6assign: 64

- name: Commit network changes
  uci:
    command: commit
    config: network
  register: commit_result
  notify:
    - Reload config

- name: Ensure interface is UP and has correct qdisc
  ansible.builtin.command:
    cmd: "ip link set {{ docker_interface }} up"
  changed_when: true
