---
- name: Reboot
  ansible.builtin.command: "reboot &"
  async: 1
  poll: 0
  changed_when: true
  failed_when: false

- name: Post reboot
  ansible.builtin.import_role:
    name: common_post_reboot
