# Traefik static configuration
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  dashboard: true

log:
  level: INFO

accessLog:
  format: json
  fields:
    names:
      ClientAddr: keep
      RequestMethod: keep
      RequestHost: keep
      RequestPath: keep
      OriginStatus: keep
      UpstreamAddr: keep
      UpstreamStatus: keep
      RouterName: keep
      RouterRule: keep
      ServiceName: keep
      Middlewares: keep

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true
