services:
  traefik:
    image: "traefik:{{ docker_traefik_version }}"
    container_name: "traefik"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - macvlan{{ vlan_id }}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker_traefik_volume_dir }}letsencrypt:/opt/letsencrypt"
      - "{{ docker_traefik_volume_dir }}config:/etc/traefik:ro"
    networks:
      macvlan{{ vlan_id }}:
        ipv4_address: 192.168.{{ vlan_id }}.10

networks:
  macvlan{{ vlan_id }}:
    name: macvlan{{ vlan_id }}
    driver: macvlan
    driver_opts:
      parent: br-lan.{{ vlan_id }}
    ipam:
      config:
        - subnet: "192.168.{{ vlan_id }}.0/24"
          gateway: "192.168.{{ vlan_id }}.1"