---
- name: Copy nginx-chart
  # Copy the chart as static files, do not process as templates
  ansible.builtin.copy:
    src: nginx-chart
    dest: /root/
    mode: '0644'
    directory_mode: '0755'

- name: Wait for k3s kubeconfig to be generated
  ansible.builtin.wait_for:
    path: /etc/rancher/k3s/k3s.yaml
    state: present
    timeout: 300

- name: Deploy nginx-example chart
  ansible.builtin.command:
    cmd: /usr/bin/helm install nginx-example /root/nginx-chart --kubeconfig /etc/rancher/k3s/k3s.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: helm_install_result
  changed_when: helm_install_result.rc == 0
  failed_when:
    - helm_install_result.rc != 0
    - '"cannot re-use a name that is still in use" not in helm_install_result.stderr'

- name: Add kubernetes-dashboard helm repo
  ansible.builtin.command:
    cmd: /usr/bin/helm repo add kubernetes-dashboard https://kubernetes.github.io/dashboard/
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  changed_when: false

- name: Install Kubernetes Dashboard
  ansible.builtin.command:
    cmd: >
      /usr/bin/helm upgrade --install kubernetes-dashboard kubernetes-dashboard/kubernetes-dashboard
      --namespace kubernetes-dashboard
      --create-namespace
      --set kong.proxy.type=NodePort
      --set kong.proxy.http.enabled=true
      --set kong.proxy.tls.enabled=true
      --kubeconfig /etc/rancher/k3s/k3s.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: dashboard_install_result
  changed_when: dashboard_install_result.rc == 0

- name: Create admin-user service account
  ansible.builtin.copy:
    dest: /root/dashboard-admin.yaml
    content: |
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: admin-user
        namespace: kubernetes-dashboard
      ---
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: admin-user
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: cluster-admin
      subjects:
      - kind: ServiceAccount
        name: admin-user
        namespace: kubernetes-dashboard
    mode: '0644'

- name: Apply admin-user service account
  ansible.builtin.command:
    cmd: /usr/bin/kubectl apply -f /root/dashboard-admin.yaml --kubeconfig /etc/rancher/k3s/k3s.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  changed_when: false

- name: Get admin-user token
  ansible.builtin.shell: |
    /usr/bin/kubectl -n kubernetes-dashboard create token admin-user --duration=8760h --kubeconfig /etc/rancher/k3s/k3s.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: dashboard_token
  changed_when: false

- name: Print Dashboard Token
  ansible.builtin.debug:
    msg: "Dashboard Token: {{ dashboard_token.stdout }}"

- name: Get Kubernetes Dashboard NodePort
  ansible.builtin.shell: >
    /usr/bin/kubectl -n kubernetes-dashboard get svc kubernetes-dashboard-kong-proxy
    -o jsonpath='{.spec.ports[?(@.port==443)].nodePort}'
    --kubeconfig /etc/rancher/k3s/k3s.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: dashboard_nodeport
  changed_when: false

- name: Print Dashboard URL
  ansible.builtin.debug:
    msg: "Dashboard URL: https://{{ ansible_host }}:{{ dashboard_nodeport.stdout }}"
