---
- name: Reboot
  ansible.builtin.command: "reboot &"
  async: 1
  poll: 0
  changed_when: true
  failed_when: false

- name: Wait for connection after reboot
  ansible.builtin.wait_for_connection:
    timeout: 180
    delay: 10
  listen: Reboot

- name: Wait for internet access # noqa: command-instead-of-module
  ansible.builtin.command:
    cmd: "wget --timeout=5 --spider https://downloads.openwrt.org/releases/{{ firmware_version }}/targets/x86/64/packages/Packages.gz"
  changed_when: false
  register: _wget_packages_result
  retries: 12
  until: _wget_packages_result.rc == 0
  listen: Reboot

- name: Update opkg cache
  opkg: # noqa: fqcn[action]
    name: opkg
    update_cache: true
  listen:
    - Reboot
    - Wait for internet access

- name: Reload config
  ansible.builtin.command: reload_config
  changed_when: true

- name: Force renew certificates
  ansible.builtin.command: /etc/init.d/acme renew
  changed_when: true

- name: Restart nginx to use new certs
  ansible.builtin.service:
    name: nginx
    state: restarted
  listen: Force renew certificates
