---
- name: Ensure needed docker directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0700'
  loop:
    - /docker/traefik
    - "{{ docker_traefik_volume_dir }}/config"
    - "{{ docker_traefik_volume_dir }}/data"

- name: Render traefik docker-compose file
  ansible.builtin.template:
    src: compose.yml.j2
    dest: /docker/traefik/compose.yml
    mode: '0644'

- name: Deploy traefik with docker compose
  community.docker.docker_compose_v2:
    project_src: /docker/traefik
    files:
      - compose.yml
    state: present
    recreate: always

- name: Add local DNS domain for traefik
  uci:
    command: section
    config: dhcp
    type: domain
    find-by:
      name: traefik
    value:
      ip: "192.168.{{ vlan_id }}.10"

- name: Commit dhcp changes
  uci:
    command: commit
    config: dhcp

- name: Restart dnsmasq to apply changes
  ansible.builtin.service:
    name: dnsmasq
    state: restarted
